<div class="row">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            @*<div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>*@
            <table style="width:100%">
                <tr>
                    <td style="text-align:left">
                        <h6 class="card-title" style="margin-top: 5px;font-size:11pt">
                            <strong><span>Date:</span></strong>&nbsp;<span id="BookingDate">@Model.DocDate</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong><span>Document Type:</span></strong>&nbsp;<span id="BookingType">@Model.DocType</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong><span>Booking No.:</span></strong>&nbsp;<span id="BookingNo">@Model.DocNo</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            @if (Model.RFQId > 0)
                            {
                                <strong><span>RFQ No.:</span></strong><span id="BookingNo">&nbsp;@Model.RFQBookingNo</span>
                            }
                        </h6>
                    </td>
                    <td style="text-align:right">
                        @if (Model.DocId > 0 && (Model.WorkFlowId == 6 || Model.WorkFlowId == 36))
                        {
                            if (Model.RFQId > 0)
                            {
                                <input type="button" id="btnViewPI" value="View P.I." onclick="return ViewPIWithQuot();" class="btn btn-fill btn-rose btn-sm" />
                                <input type="button" id="btnSubmitAgainstRFQ" value="Submit" onclick="return SubmitAgainstRFQ();" class="btn btn-fill btn-rose btn-sm" />
                            }
                            else
                            {
                                @*<input type="button" id="btnViewPI" value="View P.I." onclick="return ViewPIWithQuot();" class="btn btn-fill btn-rose btn-sm" />
                                    <input type="button" id="btnAcceptPI" value="Accept P.I." onclick="return AcceptPI();" class="btn btn-fill btn-rose btn-sm" />*@
                                <input type="button" id="btnSubmit" value="Submit" onclick="return SubmitDoc();" class="btn btn-fill btn-rose btn-sm" />
                            }
                        }
                        else if (Model.DocId > 0 && Model.RFQId != null && Model.RFQId > 0 && (Model.WorkFlowId == 8 || Model.WorkFlowId == 44))
                        {
                            <input type="button" id="btnViewPI" value="View P.I." onclick="return ViewPI();" class="btn btn-fill btn-rose btn-sm" />
                        }
                        else if (Model.DocId > 0 && (Model.WorkFlowId == 7 || Model.WorkFlowId == 37))
                        {
                            <input type="button" id="btnAcceptPI" value="Accept P.I." onclick="return AcceptPI();" class="btn btn-fill btn-rose btn-sm" />
                        }
                        else if (Model.DocId > 0 && (Model.WorkFlowId == 9 || Model.WorkFlowId == 45))
                        {
                            <input type="button" id="btnViewPI" value="View P.I." onclick="return ViewPI();" class="btn btn-fill btn-rose btn-sm" />
                            <input type="button" id="btnUploadPO" value="Upload P.O." onclick="return OpenPODialog();" class="btn btn-fill btn-rose btn-sm" />
                        }
                        else if (Model.DocId > 0 && (Model.WorkFlowId == 10 || Model.WorkFlowId == 46))
                        {
                            <input type="button" id="btnViewPI" value="View P.I." onclick="return ViewPI();" class="btn btn-fill btn-rose btn-sm" />
                            <input type="button" id="btnViewPO" value="View P.O." onclick="return ViewPO();" class="btn btn-fill btn-rose btn-sm" />
                        }
                        else if (Model.DocId > 0 && (Model.WorkFlowId == 57 || Model.WorkFlowId == 29 || Model.WorkFlowId == 38))
                        {
                            <input type="button" id="btnSubmitRFQ" value="Submit" onclick="return SubmitRFQ();" class="btn btn-fill btn-rose btn-sm" />
                        }
                        else if (Model.DocId > 0 && (Model.WorkFlowId == 59 || Model.WorkFlowId == 52 || Model.WorkFlowId == 54))
                        {
                            <input type="button" id="btnViewPI" value="View P.I." onclick="return ViewPI();" class="btn btn-fill btn-rose btn-sm" />
                            if (Model.StatusPropId == 40)
                            {
                                <input type="button" id="btnAcceptQuotation" value="Accept Quotation" onclick="return AcceptQuotation(@Model.WorkFlowId);" class="btn btn-fill btn-rose btn-sm" />
                            }
                        }

                        @*<input type="button" id="btnFilePreView" value="File Preview" onclick="OpenPreviewFileModel();" class="btn btn-fill btn-rose btn-sm" />*@
                    </td>
                </tr>
            </table>

        </div>
        <div class="card-body">
            <div class="arrow-steps clearfix">
                @foreach (var itm in Model.WorkFlowView)
                {
                    if (@Model.WorkFlowId == itm.WorkFlowId)
                    {
                        <div class="step current"><span>@itm.WorkFlowName</span></div>
                    }
                    else
                    {
                        <div class="step"><span>@itm.WorkFlowName</span></div>
                    }
                }

                @*@if (@Model.WorkFlowId == 6)
                    {
                        <div id="WWF6" class="step current"><span>Booking</span></div>
                    }
                    else
                    {
                        <div id="WWF6" class="step"><span>Booking</span></div>
                    }
                    @if (@Model.WorkFlowId == 7)
                    {
                        <div id="WWF7" class="step current"><span>PI</span></div>
                    }
                    else
                    {
                        <div id="WWF7" class="step"><span>PI</span></div>
                    }
                    @if (@Model.WorkFlowId == 8)
                    {
                        <div id="WWF8" class="step current"><span>Approve</span></div>
                    }
                    else
                    {
                        <div id="WWF8" class="step"><span>Approve</span></div>
                    }
                    @if (@Model.WorkFlowId == 9)
                    {
                        <div id="WWF9" class="step current"><span>PO</span></div>
                    }
                    else
                    {
                        <div id="WWF9" class="step"><span>PO</span></div>
                    }
                    @if (@Model.WorkFlowId == 10)
                    {
                        <div id="WWF10" class="step current"><span>PO Verification</span></div>
                    }
                    else
                    {
                        <div id="WWF10" class="step"><span>PO Verification</span></div>
                    }*@
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UploadPOModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload PO</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            @*<div class="fileinput-new thumbnail">
                                    <img src="../../assets/img/image_placeholder.jpg" alt="...">
                                </div>*@
                            <div class="fileinput-preview fileinput-exists thumbnail" style="padding: 10px;"></div>
                            <div>
                                <span class="btn btn-rose btn-round btn-file">
                                    <span class="fileinput-new">Select Document</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="..." id="filePOUPLD" />
                                </span>
                                <a href="#pablo" id="fileInputClear" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                <button type="button" id="btnUpload" class="btn btn-fill btn-rose btn-sm" onclick="UploadPO()" style="margin-top: 5px;">UploadPO</button>
                                <label id="uploadProgressBill" style="background-color: orangered;color:white; font-size: 12px;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-fill btn-rose btn-sm" style="margin-top: 5px;" onclick="SubmitPO()">Submit</button>
                <button type="button" class="btn btn-fill btn-danger btn-sm" data-dismiss="modal" style="margin-left: 5px; margin-top: 5px;">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="iframeFilePreviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">File Preview</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body" style="text-align:center">
                <iframe id="iframeFilePreview" src="" frameborder="0" scrolling="auto" style="width:100%;height:400px;display:none" allowtransparency="false"></iframe>
                <img id="imgFilePreview" src="" frameborder="0" scrolling="auto" style="width:100%;height:400px;display:none" />
                @*<object id="aaa" data="" type="application/pdf" width="600" height="500">
                        <a id="aaaa" href="">test.pdf</a>
                    </object>*@
                @*<embed id="aa"  src="" width="600px" height="500px" />*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-fill btn-danger btn-sm" data-dismiss="modal" style="margin-left: 5px; margin-top: 5px;">Close</button>
            </div>

        </div>
    </div>
</div>

<script>

    function OpenPreviewFileModel() {
        //$("#iframeFilePreview").attr("src", "");
        //$("#imgFilePreview").hide();
        //$("#imgFilePreview").attr("src", "");
        //$("#iframeFilePreview").hide();

        //var varFileURL = "https://natraxpgmsstorage.blob.core.windows.net/natraximage/PO_15.jpeg";

        //if (varFileURL.substr(varFileURL.length - 3, 3).toLowerCase() == "pdf") {
        //    $("#iframeFilePreview").attr("src", varFileURL);
        //    $("#iframeFilePreview").show();
        //}
        //else {
        //    $("#imgFilePreview").attr("src", varFileURL);
        //    $("#imgFilePreview").show();
        //}
        //$("#aaa").attr("data", "http://pgmsbackoffice.azurewebsites.net/ReportViewer/ReportViewer.aspx?rptName=rptBookingInvoiceIGST&DocId=47&BPId=90");
       // $("#aaaa").attr("href", "http://pgmsbackoffice.azurewebsites.net/ReportViewer/ReportViewer.aspx?rptName=rptBookingInvoiceIGST&DocId=47&BPId=90");
        //$("#aa").attr("src", "https://natraxpgmsstorage.blob.core.windows.net/natraximage/SD_1.pdf");
       // $("#iframeFilePreviewModal").modal("show");
    }

    ///////////////////////////// Upload P.0.  //////////////////////////////////////////////////////
    function OpenPODialog() {
        $("#fileInputClear").click();
        $("#UploadPOModal").modal("show");
    }

    function UploadPO() {
        try {
            var varFileData = $("#filePOUPLD").val().trim();
            if (varFileData == '') {
                alert("Select File!");
                return false;
            }
            else {
                var formData = new FormData();
                var imagefile = document.getElementById('filePOUPLD').files[0];
                var FileType = imagefile.type;
                var Fileize = imagefile.size;
                if (FileType == "image/jpeg" || FileType == "application/pdf") {
                    if ((parseInt(Fileize) / 1024) > 0 && (parseInt(Fileize) / 1024) < 2048) {
                        LoaderShow();
                        $("#btnUpload").hide();
                        $("#uploadProgressBill").show();
                        formData.append("ImageData", imagefile);

                        var xhr = new XMLHttpRequest();

                        xhr.open("POST", "../Home/POUpload", true);
                        xhr.upload.addEventListener("progress", function (evt) { UploadPOProgress(evt); }, false);
                        xhr.addEventListener("load", function (evt) { UploadPOComplete(evt); }, false);
                        xhr.addEventListener("error", function (evt) { UploadPOFailed(evt); }, false);
                        xhr.addEventListener("abort", function (evt) { UploadPOCanceled(evt); }, false);
                        xhr.send(formData);
                    }
                    else {
                        alert("PO file size between 1 KB to 2 MB can be accepted!");
                        return false;
                    }
                }
                else {
                    alert("Only (JPEG, PDF) file format can be accepted!");
                    return false;
                }
            }
        }
        catch (e) {
            $("#btnUpload").show();
            alert(e.message);
            return false;
        }
    }

    function UploadPOProgress(evt) {
        if (evt.lengthComputable) {
            var percentComplete = Math.round(evt.loaded * 100 / evt.total);
            $("#uploadProgressBill").text("Uploading Progress : " + percentComplete + "% ");
        }
    }

    function UploadPOComplete(evt) {
        LoaderHide();
        $("#btnUpload").show();
        if (evt.target.status == 200) {
            var data = JSON.parse(evt.target.response);
            alert(data.Status);
            $("#uploadProgressBill").text('');
        }
        else {
            $("#uploadProgressBill").text('');
            alert("Error Uploading PO");
        }
    }

    function UploadPOFailed(evt) {
        LoaderHide();
        $("#btnUpload").show();
        $("#uploadProgressBill").text('');
        alert("There was an error attempting to upload the PO!");

    }

    function UploadPOCanceled(evt) {
        LoaderHide();
        $("#btnUpload").show();
        $("#uploadProgressBill").text('');
        alert("The upload has been canceled by the user or the browser dropped the connection!");
    }

     ///////////////////////////// View P.I.  //////////////////////////////////////////////////////
    function ViewPI() {
        try {
            var strReportName = "";
            if (parseInt($("#StateId").val()) == 20)//MP
            {
                strReportName = "rptBookingInvoiceGST";
            }
            else {
                strReportName = "rptBookingInvoiceIGST";
            }

            var strReportViewerUrl = $("#ReportURL").val();
            var strDocId = $("#DocId").val();
            var strBPId = $("#BPId").val();

            window.open(strReportViewerUrl + "?rptName=" + strReportName + "&DocId=" + strDocId + "&BPId=" + strBPId, '_blank');

            return false;
        }
        catch (e) {

            alert(e.message);
        }
        return false;
    }

    ///////////////////////////// View P.I.  //////////////////////////////////////////////////////
    function ViewPIWithQuot() {
        try {
            var strReportName = "";
            if (parseInt($("#StateId").val()) == 20)//MP
            {
                strReportName = "rptBookingInvoiceGST";
            }
            else {
                strReportName = "rptBookingInvoiceIGST";
            }

            var strReportViewerUrl = $("#ReportURL").val();
            var strDocId = $("#DocId").val();
            var strBPId = $("#BPId").val();

            LoaderShow();
            var data = {};
            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });

            $.ajax({
                url: '@Url.Action("BookingQuotationPI", "Home")',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: dataWithAntiforgeryToken,
                success: function (data) {

                    LoaderHide();
                    if (data.StatusId != "99" && data.StatusId != "-99") {
                        window.open(strReportViewerUrl + "?rptName=" + strReportName + "&DocId=" + strDocId + "&BPId=" + strBPId, '_blank');
                    }
                    else {
                        alert(data.Status);
                    }
                },
                error: function (xhr) {

                    LoaderHide();
                    alert(xhr.responseText);
                }
            });

        }
        catch (e) {

            LoaderHide();
            alert(e.message);
        }
        return false;

    }

    ///////////////////////////// View P.O.  //////////////////////////////////////////////////////
    function ViewPO() {
        try {

            //$("#iframeFilePreview").attr("src", "");
            //$("#imgFilePreview").hide();
            //$("#imgFilePreview").attr("src", "");
            //$("#iframeFilePreview").hide();

            //var varFileURL = $("#POURL").val();

            //if (varFileURL.substr(varFileURL.length - 3, 3).toLowerCase() == "pdf") {
            //    $("#iframeFilePreview").attr("src", varFileURL);
            //    $("#iframeFilePreview").show();
            //}
            //else {
            //    $("#imgFilePreview").attr("src", varFileURL);
            //    $("#imgFilePreview").show();
            //}

            //$("#iframeFilePreviewModal").modal("show");

            var strPOViewerUrl = $("#POURL").val();
            window.open(strPOViewerUrl, '_blank');
        }
        catch (e) {
            alert(e.message);
        }
        return false;
    }

    
    ///////////////////////////// Submit Doc  //////////////////////////////////////////////////////
    function SubmitDoc() {
        try {
            $.confirm({
                title: 'Confirm Alert!',
                content: 'Further editing of the Booking will be locked when you "Submit" as it will be forwarded to Natrax for approving your Booking Dates Click "OK" to Confirm and "CANCEL" to continue editing.',
                icon: 'fa fa-question',
                closeIcon: true,
                animation: 'scale',
                type: 'orange',
                escapeKey: 'cancel',
                buttons: {
                    MyFunction: {
                        text: 'OK',
                        action: function () {
                            LoaderShow();
                            var data = { 'intQuotFlag':0};
                            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                            $.ajax({
                                url: '@Url.Action("SubmitDoc", "Home")',
                                type: 'POST',
                                dataType: 'json',
                                async: true,
                                data: dataWithAntiforgeryToken,
                                success: function (data) {

                                    LoaderHide();

                                    if (data.StatusId != "99" && data.StatusId != "-99") {
                                        alert("PI Accepted Successfully");
                                        BookingList = data.BookingList;
                                        window.location.href = '@Url.Action("Basic", "Home")';
                                    }
                                    else {
                                        alert(data.Status);
                                    }
                                },
                                error: function (xhr) {

                                    LoaderHide();
                                    alert(xhr.responseText);
                                }
                            });

                        }
                    },
                    cancel: function () {
                    }
                }
            });

        }
        catch (e) {

            LoaderHide();
            alert(e.message);
            //  return false;
        }
    }

    ///////////////////////////// Accept P.I.  //////////////////////////////////////////////////////
    function AcceptPI() {
        try {
            $.confirm({
                title: 'Confirm Alert!',
                content: 'It will be forwarded for upload PO Click "OK" to Confirm',
                icon: 'fa fa-question',
                closeIcon: true,
                animation: 'scale',
                type: 'orange',
                escapeKey: 'cancel',
                buttons: {
                    MyFunction: {
                        text: 'OK',
                        action: function () {
                            LoaderShow();
                            var data = { 'intQuotFlag':1};
                            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                            $.ajax({
                                url: '@Url.Action("SubmitDoc", "Home")',
                                type: 'POST',
                                dataType: 'json',
                                async: true,
                                data: dataWithAntiforgeryToken,
                                success: function (data) {

                                    LoaderHide();

                                    if (data.StatusId != "99" && data.StatusId != "-99") {
                                        alert("PI Accepted Successfully");
                                        BookingList = data.BookingList;
                                        window.location.href = '@Url.Action("Basic", "Home")';
                                    }
                                    else {
                                        alert(data.Status);
                                    }
                                },
                                error: function (xhr) {

                                    LoaderHide();
                                    alert(xhr.responseText);
                                }
                            });

                        }
                    },
                    cancel: function () {
                    }
                }
            });

        }
        catch (e) {

            LoaderHide();
            alert(e.message);
            //  return false;
        }
    }

    ///////////////////////////// Submit RFQ  //////////////////////////////////////////////////////
    function SubmitRFQ() {
        try {
            $.confirm({
                title: 'Confirm Alert!',
                content: 'Further editing of the Booking will be locked when you "Submit" to Natrax for preparing the Quotation Click "OK to Confirm and "CANCEL" to continue editing.',
                icon: 'fa fa-question',
                closeIcon: true,
                animation: 'scale',
                type: 'orange',
                escapeKey: 'cancel',
                buttons: {
                    MyFunction: {
                        text: 'OK',
                        action: function () {
                            LoaderShow();
                            var data = { 'intQuotFlag':1};
                            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                            $.ajax({
                                url: '@Url.Action("SubmitDoc", "Home")',
                                type: 'POST',
                                dataType: 'json',
                                async: true,
                                data: dataWithAntiforgeryToken,
                                success: function (data) {

                                    LoaderHide();
                                    if (data.StatusId != "99" && data.StatusId != "-99") {
                                        alert("RFQ Submitted Successfully");
                                        BookingList = data.BookingList;
                                        window.location.href = '@Url.Action("Basic", "Home")';
                                    }
                                    else {
                                        alert(data.Status);
                                    }
                                },
                                error: function (xhr) {

                                    LoaderHide();
                                    alert(xhr.responseText);
                                }
                            });

                        }
                    },
                    cancel: function () {
                    }
                }
            });

        }
        catch (e) {

            LoaderHide();
            alert(e.message);
            //  return false;
        }
    }

    ///////////////////////////// Accept Quotation //////////////////////////////////////////////////////
    function AcceptQuotation(varWorkFlowId) {
        try {
            var varMenuLink = "";
            if (parseInt(varWorkFlowId) == 59) {
                varMenuLink = '"ManageBooking/TrackBookings & RFQ/Booking(New/In-Progress)/Booking against RFQ - Confidential"';
            }
            else if (parseInt(varWorkFlowId) == 52) {
                varMenuLink = '"ManageBooking/TrackBookings & RFQ/Booking(New/In-Progress)/Booking against RFQ - Regular"';
            }
            else if (parseInt(varWorkFlowId) == 54) {
                varMenuLink = '"ManageBooking/LabBookings & RFQ/Booking(New/In-Progress)/Booking against RFQ - Regular"';
            }

            $.confirm({
                title: 'Confirm Alert!',
                content: 'Thank you for accepting the Quotation Please create booking against this Quotation from Menu - ' + varMenuLink +' to set the testing dates OK  "CANCEL".',
                icon: 'fa fa-question',
                closeIcon: true,
                animation: 'scale',
                type: 'orange',
                escapeKey: 'cancel',
                buttons: {
                    MyFunction: {
                        text: 'OK',
                        action: function () {
                            LoaderShow();
                            var data = { 'intQuotFlag':0};
                            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                            $.ajax({
                                url: '@Url.Action("SubmitDoc", "Home")',
                                type: 'POST',
                                dataType: 'json',
                                async: true,
                                data: dataWithAntiforgeryToken,
                                success: function (data) {

                                    LoaderHide();
                                    if (data.StatusId != "99" && data.StatusId != "-99") {
                                        alert("Quotation Accepted Successfully");
                                        BookingList = data.BookingList;
                                        window.location.href = '@Url.Action("Basic", "Home")';
                                    }
                                    else {
                                        alert(data.Status);
                                    }
                                },
                                error: function (xhr) {

                                    LoaderHide();
                                    alert(xhr.responseText);
                                }
                            });

                        }
                    },
                    cancel: function () {
                    }
                }
            });

        }
        catch (e) {

            LoaderHide();
            alert(e.message);
            //  return false;
        }
    }

     ///////////////////////////// Submit P.O.  //////////////////////////////////////////////////////
    function SubmitPO() {
        try {
            $.confirm({
                title: 'Confirm Alert!',
                content: 'Thank you for submitting the P.O. as shown below : Click "OK" if above document is correct else click "CANCEL" and kindly upload the correct document again.',
                icon: 'fa fa-question',
                closeIcon: true,
                animation: 'scale',
                type: 'orange',
                escapeKey: 'cancel',
                buttons: {
                    MyFunction: {
                        text: 'OK',
                        action: function () {
                            LoaderShow();
                            var data = { 'intQuotFlag': 0};
                            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                            $.ajax({
                                url: '@Url.Action("SubmitDoc", "Home")',
                                type: 'POST',
                                dataType: 'json',
                                async: true,
                                data: dataWithAntiforgeryToken,
                                success: function (data) {

                                    LoaderHide();
                                    if (data.StatusId != "99" && data.StatusId != "-99") {
                                        alert("PO Submitted Successfully");
                                        BookingList = data.BookingList;
                                        window.location.href = '@Url.Action("Basic", "Home")';
                                    }
                                    else {
                                        alert(data.Status);
                                    }
                                },
                                error: function (xhr) {

                                    LoaderHide();
                                    alert(xhr.responseText);
                                }
                            });
                        }
                    },
                    cancel: function () {
                    }
                }
            });
        }
        catch (e) {

            LoaderHide();
            alert(e.message);
            //  return false;
        }
    }

     ///////////////////////////// Submit Booking Against RFQ  //////////////////////////////////////////////////////
    function SubmitAgainstRFQ() {
        try {
            $.confirm({
                title: 'Confirm Alert!',
                content: 'Further editing of the Booking will be locked when you "Submit" to Natrax for approving your Booking Dates Click "OK to Confirm and "CANCEL" to continue editing.',
                icon: 'fa fa-question',
                closeIcon: true,
                animation: 'scale',
                type: 'orange',
                escapeKey: 'cancel',
                buttons: {
                    MyFunction: {
                        text: 'OK',
                        action: function () {
                            LoaderShow();
                            var data = { 'intQuotFlag':1};
                            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                            $.ajax({
                                url: '@Url.Action("SubmitDoc", "Home")',
                                type: 'POST',
                                dataType: 'json',
                                async: true,
                                data: dataWithAntiforgeryToken,
                                success: function (data) {

                                    LoaderHide();
                                    if (data.StatusId != "99" && data.StatusId != "-99") {
                                        alert("Booking Against RFQ Submitted Successfully");
                                        BookingList = data.BookingList;
                                        window.location.href = '@Url.Action("Basic", "Home")';
                                    }
                                    else {
                                        alert(data.Status);
                                    }
                                },
                                error: function (xhr) {

                                    LoaderHide();
                                    alert(xhr.responseText);
                                }
                            });

                        }
                    },
                    cancel: function () {
                    }
                }
            });

        }
        catch (e) {

            LoaderHide();
            alert(e.message);
            //  return false;
        }
    }

</script>
