@model PGMSFront.Models.CommonModel
@{
    ViewBag.Title = "Component";
    Layout = "~/Views/Shared/_LayoutLab.cshtml";
}

<style>
    .table > tbody > tr > td {
        padding: 2px 8px !important;
        cursor: pointer !important;
    }

    .card {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }

    .bootstrap-select {
        margin-top: 16px !important;
    }

    a > i {
        color: #FFF;
    }

    .main-panel > .content {
        margin-top: 0 !important;
    }
</style>
<div class="content">
    @using (Html.BeginForm(new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            @Html.Partial("~/Views/Home/BookingHeader.cshtml")
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <label class="card-title">Component Count : </label> <label class="card-title" id="lblVehicleCount"></label>
                            @if (Model.StatusPropId == 40 && (Model.WorkFlowId == 6 || Model.WorkFlowId == 57 || Model.WorkFlowId == 29 || Model.WorkFlowId == 36 || Model.WorkFlowId == 38))
                            {
                                <button type="button" class="btn btn-fill btn-rose btn-sm pull-right" onclick="AddMore()" id="btnAdd">Add More</button>
                            }
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th width="8%">Sr. No.</th>
                                                <th width="20%">Component Type</th>
                                                <th width="20%">ID/Code</th>
                                                <th width="20%">Description</th>
                                                <th width="20%">Component Name</th>
                                                <th width="12%" class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyVehicle">
                                            <tr id="AddMoreTR" style="display: none;">
                                                <td><input type="text" class="form-control" value="" disabled="disabled"></td>
                                                <td>
                                                    @*<input type="text" class="form-control" value="" id="VehicleType">*@
                                                    <select class="form-control" id="VehicleType" onchange="SetComponentName()">
                                                        @foreach (var itm in ViewBag.VehicleType)
                                                        {
                                                            <option value='@itm.Value'>@itm.Text</option>
                                                        }
                                                    </select>
                                                </td>
                                                <td><input type="text" class="form-control" value="" id="VehicleAxel" onchange="SetComponentName()"></td>
                                                <td><input type="text" class="form-control" value="" id="VehicleWeight"></td>
                                                <td><input type="text" disabled="disabled" class="form-control" value="" id="RegistrationNo"></td>
                                                <td class='td-actions text-center'>
                                                    <a  class='btn btn-info' onclick="return ComponentSave()" id="btnSave"><i class='material-icons'>save</i></a>
                                                    <a  class='btn btn-danger' onclick="AddMoreCancel()"><i class='material-icons'>close</i></a>
                                                </td> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                               
                            </div>
                        </div>
                        <br />
                        <table Style="width:100%">
                            <tr>
                                <td Style="width:50%;text-align:left">
                                    <input type="submit" id="btnPrev" name="btnPrevNext" value="Prev" class="btn btn-fill btn-rose btn-sm " />
                                </td>
                                <td Style="width:50%;text-align:right">
                                    <input type="submit" id="btnNext" name="btnPrevNext" value="Next" style="display:none" class="btn btn-fill btn-rose btn-sm " />
                                </td>
                            </tr>
                        </table>
                    </div>
                    @Html.HiddenFor(m => m.UserId, new { id = "UserId", style = "width:0px;" })
                    @Html.HiddenFor(m => m.UserTypePropId, new { id = "UserTypePropId", style = "width:0px;" })
                    @Html.HiddenFor(m => m.ZZCompanyId, new { id = "ZZCompanyId", style = "width:0px;" })
                    @Html.HiddenFor(m => m.WorkFlowId, new { id = "WorkFlowId", style = "width:0px;" })
                    @Html.HiddenFor(m => m.StatusPropId, new { id = "StatusPropId", style = "width:0px;" })
                    @Html.HiddenFor(m => m.StateId, new { id = "StateId", style = "width:0px;" })
                    @Html.HiddenFor(m => m.BPId, new { id = "BPId", style = "width:0px;" })
                    @Html.HiddenFor(m => m.DocId, new { id = "DocId", style = "width:0px;" })
                    @Html.HiddenFor(m => m.ReportURL, new { id = "ReportURL", style = "width:0px;" })
                    @Html.HiddenFor(m => m.POURL, new { id = "POURL", style = "width:0px;" })
                </div>

            </div>
        </div>

    }
</div>
<script>
    var VehCompId = 0;
    var VehicleList = '';

    function AddMore() {
        VehCompId = 0;
        $("#AddMoreTR").find("a[id='btnSave']").each(function () {
            $(this).show();
        });
        $("#AddMoreTR").find("input[type='text'][id='RegistrationNo']").each(function () {
            $(this).val("");
        });
        //$("#AddMoreTR").find("select[id='VehicleType']").each(function () {
        //    $(this).val("");
        //});
        $("#AddMoreTR").find("input[type='text'][id='VehicleAxel']").each(function () {
            $(this).val("");
        });
        $("#AddMoreTR").find("input[type='text'][id='VehicleWeight']").each(function () {
            $(this).val("");
        });

        $("#AddMoreTR").show();
        MaskControls();
        $("#VehicleType").focus();
    }
    function AddMoreCancel() {
        $("#AddMoreTR").hide();
    }

    ///////////////////////////// Load Vehicle Info  //////////////////////////////////////////////////////
    function LoadComponentInfo() {
        try {
            LoaderShow();
            var data = {};
            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
            $.ajax({
                url: '@Url.Action("LoadComponentInfo", "Home")',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: dataWithAntiforgeryToken,
                success: function (data) {

                    LoaderHide();
                    if (data.StatusId != "99" && data.StatusId != "-99") {
                        VehicleList = data.VehicleList;
                        BindVehicleData(data.VehicleList);
                        if (VehicleList.length > 0) {
                            $("#btnNext").show();
                        }
                    }
                    else {
                       // alert(data.Status);
                    }
                },
                error: function (xhr) {

                    LoaderHide();
                    alert(xhr.responseText);
                }
            });
        }
        catch (e) {

            LoaderHide();
            alert(e.message);
            //  return false;
        }
    }

    //////////////////////// Vehicle Edit ////////////////////////////////////////////////////////////
    function ComponentEdit(varVehCompId) {
        try {
            VehCompId = 0;
            if (VehicleList.length > 0) {
                var varVehicle = jQuery.grep(VehicleList, function (obj) {
                    return obj.VehCompId == varVehCompId;
                });

                VehCompId = NullHandle(varVehicle[0].VehCompId);

                $("#AddMoreTR").find("a[id='btnSave']").each(function () {
                    $(this).show();
                });
                $("#AddMoreTR").find("input[type='text'][id='RegistrationNo']").each(function () {
                    $(this).val(NullHandle(varVehicle[0].VorC));
                });
                $("#AddMoreTR").find("select[id='VehicleType']").each(function () {
                    $(this).val(NullHandle(varVehicle[0].TypeId));
                });
                $("#AddMoreTR").find("input[type='text'][id='VehicleAxel']").each(function () {
                    $(this).val(NullHandle(varVehicle[0].Description1));
                });
                $("#AddMoreTR").find("input[type='text'][id='VehicleWeight']").each(function () {
                    $(this).val(NullHandle(varVehicle[0].Description2));
                });

                $("#AddMoreTR").show();
                MaskControls();
                $("#VehicleType").focus();
            }
        }
        catch (e) {

        }
    }

    //////////////////////// Vehicle Edit ////////////////////////////////////////////////////////////
    function SetComponentName() {
        try {
            var ComponentType = "";
            var Desc1 = "";
            $("#AddMoreTR").find("select[id='VehicleType'] :selected").each(function () {               
                ComponentType = $(this).text().trim(); 
            });

            $("#AddMoreTR").find("input[type='text'][id='VehicleAxel']").each(function () {
                Desc1 = $(this).val().trim();               
            });

            $("#AddMoreTR").find("input[type='text'][id='RegistrationNo']").each(function () {
                $(this).val(ComponentType + Desc1);                         
            });

        }
        catch (e) {

        }
    }

    ///////////////////////////// Vehicle Save  //////////////////////////////////////////////////////
    function ComponentSave() {
        try {
            var model = {};
            var strMSG = '';
            var varVehicle = jQuery.grep(VehicleList, function (obj) {
                return obj.VehCompId == VehCompId;
            });
            var btnSave = "";

            if (parseInt(VehCompId) > 0 && varVehicle != undefined && varVehicle.length > 0) {
                model = varVehicle[0];
            }
            else {
                model.VehCompId = -1;
            }

            var ComponentType = "";
            $("#AddMoreTR").find("a[id='btnSave']").each(function () {
                btnSave = $(this);
            });           
            $("#AddMoreTR").find("select[id='VehicleType'] :selected").each(function () {
                model.TypeId = $(this).val().trim();               
                ComponentType = $(this).text().trim();
                if ($(this).val().trim() == "") {
                    strMSG = strMSG + 'Component Type \n</br>'
                }
            });
            $("#AddMoreTR").find("input[type='text'][id='VehicleAxel']").each(function () {
                model.Description1 = $(this).val().trim();
                if ($(this).val().trim() == "") {
                    strMSG = strMSG + 'ID/Code  \n</br>'
                }
            });
            $("#AddMoreTR").find("input[type='text'][id='VehicleWeight']").each(function () {
                model.Description2 = $(this).val().trim();
                if ($(this).val().trim() == "") {
                    strMSG = strMSG + 'Description  \n</br>'
                }
            });
            $("#AddMoreTR").find("input[type='text'][id='RegistrationNo']").each(function () {
                model.VorC = $(this).val().trim();              
                if ($(this).val().trim() == "") {
                    model.VorC = ComponentType+model.Description1;
                }
            });

            if (strMSG != '') {
                alert("Please enter data for Mandatory fields  \n</br>" + strMSG);
                return false;
            }
            else {

                btnSave.hide();
                LoaderShow();
                var data = {'model': model};
                var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                $.ajax({
                    url: '@Url.Action("ComponentSave", "Home")',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: dataWithAntiforgeryToken,
                    //contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        LoaderHide();
                        if (data.StatusId != "99" && data.StatusId != "-99") {
                            VehicleList = data.VehicleList;
                            BindVehicleData(data.VehicleList);

                            if (VehicleList.length > 0) {
                                $("#btnNext").show();
                            }
                        }
                        btnSave.show();
                        alert(data.Status);
                    },
                    error: function (xhr) {

                        btnSave.show();
                        LoaderHide();
                        alert(xhr.responseText);
                    }
                });
            }
        }
        catch (e) {
            LoaderHide();
            btnSave.show();
            alert(e.message);
            return false;
        }
    }

    ///////////////////////////// Delete Info  //////////////////////////////////////////////////////
    function ComponentDelete(varVehCompId) {

        try {
            $.confirm({
                title: 'Confirm Alert!',
                content: "Are you sure want to delete?",
                icon: 'fa fa-question',
                closeIcon: true,
                animation: 'scale',
                type: 'orange',
                escapeKey: 'cancel',
                buttons: {
                    MyFunction: {
                        text: 'OK',
                        action: function () {
                            LoaderShow();
                            var data = { 'intVehCompId': varVehCompId };
                            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                            $.ajax({
                                url: '@Url.Action("ComponentDelete", "Home")',
                                type: 'POST',
                                dataType: 'json',
                                async: true,
                                data: dataWithAntiforgeryToken,
                                success: function (data) {

                                    LoaderHide();
                                    if (data.StatusId != "99" && data.StatusId != "-99") {
                                        VehicleList = data.VehicleList;
                                        BindVehicleData(data.VehicleList);

                                        if (VehicleList.length > 0) {
                                            $("#btnNext").show();
                                        }
                                        else {
                                            $("#btnNext").hide();
                                        }
                                    }
                                    alert(data.Status);
                                },
                                error: function (xhr) {

                                    LoaderHide();
                                    alert(xhr.responseText);
                                }
                            });

                        }
                    },
                    cancel: function () {
                    }
                }
            });

        }
        catch (e) {

            LoaderHide();
            alert(e.message);
            //  return false;
        }
    }
    ///////////////////////////// Bind Basic Info  //////////////////////////////////////////////////////
    function BindVehicleData(data) {
        try {
            var gridData = "";
            var StatusPropId = $("#StatusPropId").val();
            var WorkFlowId = $("#WorkFlowId").val();
            //var row = $('#tbodyVehicle').find('tr:eq(0)');

            gridData = "<tr id='AddMoreTR' style='display: none;'>" + $("#AddMoreTR").html() + "</tr>";

            $("#lblVehicleCount").text(NullHandle(data.length));

            $("#tbodyVehicle").html("");

            for (var i = 0; i < data.length; i++) {
                gridData = gridData + "<tr >";

                gridData = gridData + "<td>" + NullHandle(data[i].Sno) + "</td>";               
                gridData = gridData + "<td>" + NullHandle(data[i].ZZType) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].Description1) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].Description2) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].VorC) + "</td>";

                if (parseInt($("#StatusPropId").val()) == 40 && (parseInt($("#WorkFlowId").val()) == 6 || parseInt($("#WorkFlowId").val()) == 57 || parseInt($("#WorkFlowId").val()) == 29 || parseInt($("#WorkFlowId").val()) == 36 || parseInt($("#WorkFlowId").val()) == 6)) {
                    gridData = gridData + "<td class='td-actions text-center'>";
                    gridData = gridData + "<a href='#' class='btn btn-info' title='Edit Component : " + NullHandle(data[i].VorC)+"' onclick='return ComponentEdit(" + NullHandle(data[i].VehCompId) + ")' > <i class='material-icons'>edit</i></a>&nbsp;";
                    gridData = gridData + "<a href='#' class='btn btn-danger' title='Delete Component : " + NullHandle(data[i].VorC) +"' onclick='return ComponentDelete(" + NullHandle(data[i].VehCompId)+")'><i class='material-icons'>close</i></a>";
                    gridData = gridData +"</td>";
                }
                else {
                    gridData = gridData + "<td class='text - center'></td>";
                }

                gridData = gridData + "</tr>";
            }

            $("#tbodyVehicle").html(gridData);


        }
        catch (e) {

        }
    }

    ///////////////////////////// Set Button Visibility  //////////////////////////////////////////////////////
    function SetButtonVisibility() {
        try {
            if (parseInt($("#StatusPropId").val()) == 40 && (parseInt($("#WorkFlowId").val()) == 6 || parseInt($("#WorkFlowId").val()) == 57 || parseInt($("#WorkFlowId").val()) == 29 || parseInt($("#WorkFlowId").val()) == 36 || parseInt($("#WorkFlowId").val()) == 6)) {
                $("#btnAdd").attr('disabled', false);
            }
            else {
                $("#btnAdd").attr('disabled', true);
            }
        }
        catch (e) {

        }
    }


    ///////////////////////////// Masking  //////////////////////////////////////////////////////
    function MaskControls() {
        try {
            (function ($) {
                $(function () {
                    //$("#AddMoreTR").find("input[type='text'][id='RegistrationNo']").each(function () {
                    //    $(this).mask('aa-##-$$-9999');
                    //});
                    //$("#AddMoreTR").find("input[type='text'][id='VehicleType']").each(function () {
                    //    $(this).attr('onkeypress', 'return CheckIsAlpha(event,this);');
                    //});
                    //$("#AddMoreTR").find("input[type='text'][id='VehicleWeight']").each(function () {
                    //    $(this).attr('onkeypress', 'return CheckIsDecimal(event,this);');
                    //});
                });
            })(jQuery);
        }
        catch (e) {

        }
    }

    $(document).ready(function () {
        MaskControls();
        SetButtonVisibility();
        LoadComponentInfo();
    });

</script>
