@model PGMSFront.Models.CommonModel
@{
    ViewBag.Title = Model.ViewTitle;
    Layout = "~/Views/Shared/_LayoutTrack.cshtml";
}
<style>
    .card {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }

    .table thead tr th {
        font-size: 14px;
        border-top: 1px solid #ddd;
    }

    .table tbody tr td {
        font-size: 14px;
    }

    .card-header {
        padding: 0px 4px 0px 10px !important;
    }

    .card .card-body {
        padding: 0px 5px 0px 5px !important;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Vehicle wise Test Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" >
                                        <thead class=" text-primary">
                                            <tr>
                                                <th width="5%">#</th>
                                                <th width="17%">Vehicle No.</th>
                                                <th width="16%">Vehicle Category</th>
                                                <th class="text-center" width="10%">From Date</th>
                                                <th class="text-center" width="10%">To Date</th>
                                                <th class="text-center" width="8%">Test Days</th>
                                                <th class="text-center" width="8%">Usage Hrs.</th>
                                                <th class="text-center" width="8%">Rounded</th>
                                                <th class="text-center" width="8%">Bill Hrs.</th>
                                                <th class="text-right" width="10%">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyVehicle">
                                            @*<tr id="tr_1" onclick="changeColor('1')" class="">
                                                    <td>1</td>
                                                    <td>MP09 CH 1234</td>
                                                    <td>HCV</td>
                                                    <td class="text-right">18/03/2020</td>
                                                    <td class="text-right">22/03/2020</td>
                                                    <td class="text-right">5</td>
                                                    <td class="text-right">04:02</td>
                                                    <td class="text-right">5</td>
                                                    <td class="text-right">16</td>
                                                    <td class="text-right">160,000.00</td>
                                                </tr>*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Dynamic Start*@
        <div class="row Track" id="DynamicTrack">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        @*<td width="4%"></td>*@
                                        <td width="4%" style="border-left: 1px solid #DDD;">Date</td>
                                        <td width="10%"><input type="text" id="TrackDate" onchange="ResetCategoryTimeSlot()" class="form-control datetimepicker" placeholder="DD-MM-YYYY"></td>


                                        @if (@ViewBag.ServiveCategory.Count == 1)
                                        {
                                            <td width="4%" style="display:none;border-left: 1px solid #DDD;" >Type</td>
                                            <td width="12%" style="display:none">
                                                <div class="form-check" id="divCategory">

                                                    @foreach (var itm in ViewBag.ServiveCategory)
                                                    {
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="Category" checked="checked" value='@itm.Value' onclick="ResetTimeSlot()"> @itm.Text
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    }
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td width="4%" style="border-left: 1px solid #DDD;">Type</td>
                                            <td width="12%">
                                                <div class="form-check" id="divCategory">

                                                    @foreach (var itm in ViewBag.ServiveCategory)
                                                    {
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="Category" value='@itm.Value' onclick="ResetTimeSlot()"> @itm.Text
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    }
                                                </div>
                                            </td>
                                        }



                                        <td width="14%" style="border-left: 1px solid #DDD;">Time slot for starting the Test</td>
                                        <td width="10%">
                                            <select class="form-control" id="lstTrackTimeSlot" onchange="BindTrackService('-1','1')">
                                                <option value="0">- Select Time Slot -</option>
                                                @foreach (var itm in ViewBag.TimeSlot)
                                                {
                                                    <option value='@itm.Value'>@itm.Text</option>
                                                }
                                            </select>
                                        </td>
                                        <td align="right" width="10%">
                                            @*<button type="button" class="btn btn-fill btn-rose btn-sm pull-right" onclick="AddMore('DynamicTrack')">Add More</button>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th width="18%">Track</th>
                                                <th width="9%" class="text-right">Rate</th>
                                                <th width="9%" class="text-center">Unit</th>
                                                <th width="5%" class="text-center">Estimated Usage Hours</th>
                                                <th width="5%" class="text-center">Estimated Usage Minutes</th>
                                                <th width="9%" class="text-center">Bookings Status on Day</th>
                                                <th width="9%" class="text-center">Booking Status in slot</th>
                                                <th width="9%" class="text-center">Slot wise Confirmed</th>
                                                <th width="9%" class="text-center">Round Hours</th>
                                                <th width="9%" class="text-center">Bill Hours</th>
                                                <th width="9%" class="text-right">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyTrack"></tbody>
                                    </table>
                                    <button type="button" id="btnSave" style="cursor:pointer" class="btn btn-fill btn-rose pull-right" onclick="TrackDetailSave()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Service Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead class=" text-primary">
                                                <tr>
                                                    <th width="12%">Vehicle No.</th>
                                                    <th class="text-center" width="10%">Date</th>
                                                    <th width="20%">Track</th>
                                                    <th class="text-center" width="10%">Time Slot</th>
                                                    <th class="text-right" width="8%">Rate</th>
                                                    <th class="text-center" width="8%">Unit</th>
                                                    <th class="text-center" width="5%">Usage Hours</th>
                                                    <th class="text-center" width="5%">Usage Minutes</th>
                                                    <th class="text-center" width="5%">Round Hours</th>
                                                    <th class="text-center" width="5%">Bill Hours.</th>
                                                    <th class="text-right" width="10%">Amount</th>
                                                    <th class="text-center" width="5%">#</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodyServiceDetails"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*Dynamic End*@

    </div>
</div>
<script>
    var ServicesList = '';
  //  var TimeSlotList = '';
   // var ServiceCategoryList = '';
    var TrackBookingDetailList = '';
    var TrackBookingTimeDetailList = '';
    var VehicleId = 0;
    var ColourRowId = -1;
    var Holdid = '';
    var spanPrv = '';


    function changeColorVehicle(id) {
        if (id != Holdid || Holdid == "") {
            $("#trVehicle_" + Holdid + "").removeClass('highlighted');
            $("#sp_" + Holdid).css("visibility", "hidden");
            $("#trVehicle_" + id + "").addClass('highlighted');
            Holdid = id;
        }
        else {
            if ($("#trVehicle_" + id + "").hasClass('highlighted')) {
                $("#trVehicle_" + id + "").removeClass('highlighted');
                Holdid = 0;
            }
            else {
                $("#trVehicle_" + id + "").addClass('highlighted');
                Holdid = id;
            }
        }
    }

    ///////////////////////////// Load Track/Vehicle Info  //////////////////////////////////////////////////////
    function LoadTrackInfo() {
        try {
            // $("#ajax-progress-dialog").dialog("open");
            $.ajax({
                url: '@Url.Action("LoadTrackInfo", "Home")',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {},
                success: function (data) {

                    //  $("#ajax-progress-dialog").dialog("close");
                    if (data.StatusId != "99" && data.StatusId != "-99") {
                        ServicesList = data.ServicesList;
                       // TimeSlotList = data.TimeSlotList;
                       // ServiceCategoryList = data.ServiceCategoryList;
                        TrackBookingDetailList = data.TrackBookingDetailList;
                        TrackBookingTimeDetailList = data.TrackBookingTimeDetailList;

                        BindVehicleData(data.TrackBookingDetailList);
                        BindServiceTimeDetails(0);
                    }
                },
                error: function (xhr) {

                    // $("#ajax-progress-dialog").dialog("close");
                    alert(xhr.responseText);
                }
            });
        }
        catch (e) {

            // $("#ajax-progress-dialog").dialog("close");
            alert(e.message);
            //  return false;
        }
    }

    ///////////////////////////// Bind Vehicle Info  //////////////////////////////////////////////////////
    function BindVehicleData(data) {
        try {
            var gridData = "";

            $("#tbodyVehicle").html("");

            for (var i = 0; i < data.length; i++) {
                var indx = i + 1;
                gridData = gridData + "<tr style='cursor: pointer' id='trVehicle_" + indx + "' onclick='BindTrackcategory(" + indx + "," + NullHandle(data[i].VehicleId)+")' class=''>";

                gridData = gridData + "<td>" + NullHandle(data[i].Sno) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].VehicleNo) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].VehicleType) + "</td>";
                gridData = gridData + "<td class='text-center'>" + NullHandle(data[i].ZZFromDate) + "</td>";
                gridData = gridData + "<td class='text-center'>" + NullHandle(data[i].ZZToDate) + "</td>";
                gridData = gridData + "<td class='text-center'>" + NullHandle(data[i].TestDays) + "</td>";
                gridData = gridData + "<td class='text-center'>" + NullHandle(data[i].UsagesHrs) + "</td>";
                gridData = gridData + "<td class='text-center'>" + NullHandle(data[i].UsagesMinute) + "</td>";
                gridData = gridData + "<td class='text-center'>" + NullHandle(data[i].BillingHrs) + "</td>";
                gridData = gridData + "<td class='text-right'>" + NullHandle(data[i].Amount) + "</td>";

                gridData = gridData + "</tr>";
            }

            $("#tbodyVehicle").html(gridData);


        }
        catch (e) {

        }
    }

    function ToDate(strdate) {
        var parts = strdate.split("-");
        if (parts.length < 3) {
            parts = strdate.split("/");
        }
        return new Date(parts[2], parts[1] - 1, parts[0])
    }

    //////////////////////// Bind Track Service Grid ////////////////////////////////////////////////////////
    function BindTrackService(varCategorySlotId, varCategorySlotFlag ) {
        try {

            var gridData = "";
            var varDate = $("#TrackDate").val();
            var varCategoryId = 0;
            var varTimeSlotId = 0;

            if (parseInt(varCategorySlotFlag) == 0) {
                varCategoryId = varCategorySlotId;
                varTimeSlotId = $("#lstTrackTimeSlot").val();
            }
            else if (parseInt(varCategorySlotFlag) == 1) {
                varCategoryId = $("input[name='Category']:checked").val();
                varTimeSlotId = $("#lstTrackTimeSlot").val();
            }

            var strMSG = "";
            if (parseInt(VehicleId) == 0) {
                strMSG = strMSG + 'Select Vehicle Row  \n</br>'
                //$("input[name='Category']:checked").prop('checked', false);
                $("#lstTrackTimeSlot").val(0);
            }
            if (varDate.trim() == "") {
                strMSG = strMSG + 'Date  \n</br>'
               // $("input[name='Category']:checked").prop('checked', false);
                $("#lstTrackTimeSlot").val(0);
            }
            if (varCategoryId==undefined || parseInt(varCategoryId) == 0) {
                strMSG = strMSG + 'Service Category  \n</br>'
                $("#lstTrackTimeSlot").val(0);
            }
            if (varTimeSlotId == undefined || parseInt(varTimeSlotId) == 0) {
                strMSG = strMSG + 'Time Slot  \n</br>'
            }

            if (strMSG != '') {
                alert("Please enter data for Mandatory fields  \n</br>" + strMSG);
                return false;
            }
            else {

                var data = '';
                var varServiceList = [];

                if (ServicesList.length > 0) {
                    data = jQuery.grep(ServicesList, function (obj) {
                        return obj.CategoryPropId == varCategoryId;
                    });
                }
                for (var i = 0; i < data.length; i++) {
                    varServiceList[i]=NullHandle(data[i].ServiceId);
                }


            // $("#ajax-progress-dialog").dialog("open");
            $.ajax({
                url: '@Url.Action("BookingStatusGetByServiceIdTimeSlotPropIdWEFDate", "Home")',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {'intlstServiceId':varServiceList , 'intTimeSlotId':  parseInt(varTimeSlotId),  'strWED': varDate},
               // contentType: "application/json; charset=utf-8",
                success: function (dataBokkingStatus) {

                    //  $("#ajax-progress-dialog").dialog("close");
                    if (dataBokkingStatus.StatusId != "99" && dataBokkingStatus.StatusId != "-99") {
                        var varBookingStatusList = dataBokkingStatus.BookingStatusList;
                        ////////////////////// Binding Data Start /////////////////////////////////////////////////////


                        $("#tbodyTrack").html("");

                        for (var i = 0; i < data.length; i++) {
                            var varServiceId = NullHandle(data[i].ServiceId);
                            var varRate = 0;
                            var varUsageHrs = '';
                            var varUsageMin = '';
                            var varUnit = "";
                            var varBookingDay = 0;
                            var varBookingSlot = 0;
                            var varBookingConfirm = 0;
                            var varRoundHrs = 0;
                            var varBillingHrs = 0;
                            var varAmount = 0;

                            /////////////////////// Bind Data From Track Booking Time Details ///////////////////////////////
                            var BookingTimeDtls = '';

                            if (TrackBookingTimeDetailList.length > 0) {
                                BookingTimeDtls = jQuery.grep(TrackBookingTimeDetailList, function (obj) {
                                    return obj.ServiceId == varServiceId && obj.VehicleId == VehicleId
                                        && obj.SlotPropId == parseInt(varTimeSlotId)
                                        && ToDate(obj.ZZDate).getTime() == ToDate(varDate).getTime();
                                });

                                if (BookingTimeDtls.length > 0) {
                                    varUsageHrs = NullHandle(BookingTimeDtls[0].TotalHours);
                                    varUsageMin = NullHandle(BookingTimeDtls[0].TotalMinutes);
                                    varRoundHrs = NullHandle(BookingTimeDtls[0].RoundOffHrs);
                                    varAmount = NullHandle(BookingTimeDtls[0].Amount);
                                }
                            }


                            /////////////////////// Bind Data From Booking Status ///////////////////////////////
                            var BookingStatus = '';

                            if (varBookingStatusList.length > 0) {
                                BookingStatus = jQuery.grep(varBookingStatusList, function (obj) {
                                    return obj.ServiceId == varServiceId
                                });

                                if (BookingStatus.length > 0) {
                                    varRate = NullHandle(BookingStatus[0].Rate);
                                    varUnit = NullHandle(BookingStatus[0].UOM);
                                    varBookingDay = NullHandle(BookingStatus[0].ZZBookingInADay);
                                    varBookingSlot = NullHandle(BookingStatus[0].ZZSlotInADay);
                                    varBookingConfirmSlot = NullHandle(BookingStatus[0].ZZConfirmedBookinginSlot);
                                    varBillingHrs = NullHandle(BookingStatus[0].MinBilling);
                                }
                            }
                            var rowId = "trTrackDtls" + i.toString();
                            gridData = gridData + "<tr class='TypeBDynamic' id='" + rowId + "'>";
                            gridData = gridData + "<td>" + NullHandle(data[i].ServiceSpecification) + "</td>";
                            gridData = gridData + "<td class='text-right'><label id='txtRate'>" + NullHandle(varRate) + "</label></td>";//Rate
                            gridData = gridData + "<td class='text-center'>" + NullHandle(varUnit) + "</td>";//Unit
                            gridData = gridData + "<td class='text-right table-warning'><input id='txtUsageHrs' onchange='ValidateHours(this," + rowId + ");' onkeypress='return CheckIsNumeric(event,this);'  maxlength='2' type='text' value='" + varUsageHrs + "' class='form-control timepicker text-left' placeholder='HH'></td>";//UsageHrs
                            gridData = gridData + "<td class='text-right table-warning'><input id='txtUsageMin' onchange='ValidateMinutes(this," + rowId + ");' onkeypress='return CheckIsNumeric(event,this);' maxlength='2' type='text' value='" + varUsageMin + "' class='form-control timepicker text-left' placeholder='MM'></td>";//UsageMin
                            gridData = gridData + "<td class='text-center'>" + NullHandle(varBookingDay) + "</td>";//Booking Day
                            gridData = gridData + "<td class='text-center'>" + NullHandle(varBookingSlot) + "</td>";//Booking Slot
                            gridData = gridData + "<td class='text-center'>" + NullHandle(varBookingConfirmSlot) + "</td>";//Booking Confirmed
                            gridData = gridData + "<td class='text-center'><label id='txtRoundHrs'>" + NullHandle(varRoundHrs) + "</label></td>";//Round Hrs
                            gridData = gridData + "<td class='text-center'><label id='txtBillHrs'>" + NullHandle(varBillingHrs) + "</label></td>";// Billing Hrs
                            gridData = gridData + "<td class='text-right'><label id='txtAmount'>" + NullHandle(varAmount) + "</label></td>"; //Amount
                            gridData = gridData + "<td style='display:none'><input type='hidden' id='hdnServiceId' value=" + NullHandle(data[i].ServiceId) + " /> </td>";


                            gridData = gridData + "</tr>";
                        }

                        $("#tbodyTrack").html(gridData);

                ////////////////////// Binding Data End /////////////////////////////////////////////////////
                    }
                },
                error: function (xhr) {

                    // $("#ajax-progress-dialog").dialog("close");
                    alert(xhr.responseText);
                }
            });
            }
        }
        catch (e) {

        }

    }

    ///////////////////////////// Track Detail Save  //////////////////////////////////////////////////////
    function TrackDetailSave() {
        try {
            var model = [];            
            var indx = 0;

            var varDate = $("#TrackDate").val().trim();
            var varTimeSlotId = $("#lstTrackTimeSlot").val().trim();

            var strMSG = "";
            if (parseInt(VehicleId) == 0) {
                strMSG = strMSG + 'Select Vehicle Row  \n</br>'
            }
            if (varDate == "") {
                strMSG = strMSG + 'Date  \n</br>'
            }
            if (varTimeSlotId == undefined || parseInt(varTimeSlotId) == 0) {
                strMSG = strMSG + 'Time Slot  \n</br>'
            }

            

            $('#tbodyTrack').find('tr').each(function (i, el) {
                TimeDtls = {};
                TimeDtls.TrackBookingTimeDetailId = -1;
                TimeDtls.ZZDate = varDate;
                TimeDtls.SlotPropId = varTimeSlotId;
                TimeDtls.VehicleId = VehicleId;

                var varHrs = '';
                var varMin = '';

                $(this).find("input[type='hidden'][id='hdnServiceId']").each(function () {
                    TimeDtls.ServiceId = $(this).val().trim();
                });

                $(this).find("input[type='text'][id='txtUsageHrs']").each(function () {
                    varHrs = $(this).val().trim();
                });

                $(this).find("input[type='text'][id='txtUsageMin']").each(function () {
                    varMin = $(this).val().trim();
                });

                if ((varHrs != undefined && varHrs != '' && parseInt(varHrs) > 0) || (varMin != undefined && varMin != '' && parseInt(varMin) >= 30)) {
                    
                    TimeDtls.TotalHours = varHrs;
                    TimeDtls.TotalMinutes = varMin;
                    model[indx] = new Object(TimeDtls);
                    indx++;                    
                }

            });

            if (model == undefined ||  model.length==0) {
                strMSG = strMSG + 'Track Usage Hours/Minutes  \n</br>'
            }

            if (strMSG != '') {
                alert("Please enter data for Mandatory fields  \n</br>" + strMSG);
                return false;
            }
            else {

                $("#btnSave").hide();
                //$("#ajax-progress-dialog").dialog("open");
                $.ajax({
                    url: '@Url.Action("TrackBookingDetailSave", "Home")',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: '{model: ' + JSON.stringify(model) + '}',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        // $("#ajax-progress-dialog").dialog("close");
                        if (data.StatusId != "99" && data.StatusId != "-99") {

                            TrackBookingDetailList = data.TrackBookingDetailList;
                            TrackBookingTimeDetailList = data.TrackBookingTimeDetailList;

                            BindVehicleData(data.TrackBookingDetailList);
                            BindServiceTimeDetails(VehicleId);
                            ChangeRowColour(ColourRowId);
                        }
                        $("#btnSave").show();
                        alert(data.Status);
                    },
                    error: function (xhr) {

                        $("#btnSave").show();
                        // $("#ajax-progress-dialog").dialog("close");
                        alert(xhr.responseText);
                    }
                });
            }
        }
        catch (e) {

            //$("#ajax-progress-dialog").dialog("close");
            $("#btnSave").show();
            alert(e.message);
            return false;
        }
    }

    ///////////////////////////// Bind Track Time Details  //////////////////////////////////////////////////////
    function BindServiceTimeDetails(varVehicleId) {
        try {

            var gridData = "";
            var data = TrackBookingTimeDetailList;
            if (TrackBookingTimeDetailList.length > 0 && parseInt(varVehicleId)>0) {
                data = "";
                data = jQuery.grep(TrackBookingTimeDetailList, function (obj) {
                    return obj.VehicleId == varVehicleId;
                });
            }

            $("#tbodyServiceDetails").html("");

            for (var i = 0; i < data.length; i++) {

                gridData = gridData + "<tr>";
                               
                gridData = gridData + "<td>" + NullHandle(data[i].VehicleNo) + "</td>";
                gridData = gridData + "<td class='text-center'>" + NullHandle(data[i].ZZDate) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].ZZServiceSpecification) + "</td>";               
                gridData = gridData + "<td class='text-center'>" + NullHandle(data[i].ZZSlot) + "</td>";
                gridData = gridData + "<td class='text-right'>" + NullHandle(data[i].Rate) + "</td>";
                gridData = gridData + "<td class='text-center'>" + NullHandle(data[i].ZZUOM) + "</td>";
                gridData = gridData + "<td class='text-center'>" + NullHandle(data[i].TotalHours) + "</td>";
                gridData = gridData + "<td class='text-center'>" + NullHandle(data[i].TotalMinutes) + "</td>";
                gridData = gridData + "<td class='text-center'>" + NullHandle(data[i].RoundOffHrs) + "</td>";
                gridData = gridData + "<td class='text-center'>" + NullHandle(data[i].BillingHrs) + "</td>";
                gridData = gridData + "<td class='text-right'>" + NullHandle(data[i].Amount) + "</td>";
                gridData = gridData + "<td><a href='#' style='cursor: pointer' class='btn btn-link btn-danger btn-just-icon remove' title='Delete Track Detail' onclick='return TrackBookingDetailDelete(" + NullHandle(data[i].VehicleId) + "," + '"' + NullHandle(data[i].ZZDate) + '"' + "," + NullHandle(data[i].ServiceId) + "," + NullHandle(data[i].SlotPropId) + ")'><i class='material-icons'>close</i></a></td>";

                gridData = gridData + "</tr>";
            }

            $("#tbodyServiceDetails").html(gridData);


        }
        catch (e) {

        }
    }


    ///////////////////////////// Track Detail Delete  //////////////////////////////////////////////////////
    function TrackBookingDetailDelete(varVehicleId, varDate, varServiceId, varTimeSlotId) {
        try {
            
            // $("#ajax-progress-dialog").dialog("open");
            $.ajax({
                url: '@Url.Action("TrackBookingDetailDelete", "Home")',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: { 'intVehicleId': varVehicleId, 'strDate': varDate, 'intServiceId': varServiceId, 'intTimeSlotId': varTimeSlotId},
                success: function (data) {

                    //  $("#ajax-progress-dialog").dialog("close");
                    if (data.StatusId != "99" && data.StatusId != "-99") {
                        TrackBookingDetailList = data.TrackBookingDetailList;
                        TrackBookingTimeDetailList = data.TrackBookingTimeDetailList;

                        BindVehicleData(data.TrackBookingDetailList);
                        BindServiceTimeDetails(VehicleId);
                        ChangeRowColour(ColourRowId);
                    }
                    alert(data.Status);
                },
                error: function (xhr) {

                    // $("#ajax-progress-dialog").dialog("close");
                    alert(xhr.responseText);
                }
            });
        }
        catch (e) {

            // $("#ajax-progress-dialog").dialog("close");
            alert(e.message);
            //  return false;
        }
    }

    function ResetCategoryTimeSlot() {
        try {
           // $("input[name='Category']:checked").prop('checked', false);
            $("#lstTrackTimeSlot").val(0);
            $("#tbodyTrack").html("");
        }
        catch (e) {

        }
    }

    function ResetTimeSlot() {
        try {
            $("#lstTrackTimeSlot").val(0);
            $("#tbodyTrack").html("");
        }
        catch (e) {

        }
    }

    function ValidateHours(tx, rowId) {
        try {
        if (tx.value > 23) {
            tx.value = "";
            alert('Hours value can not greater 23');
            }
            CalculateAmount(rowId)
        }
        catch (e) {

        }
    }

    function ValidateMinutes(tx, rowId) {
        try {
            if (tx.value > 59) {
                tx.value = "";
                alert('Minutes value can not greater 59');
            }
            CalculateAmount(rowId)
        }
        catch (e) {

        }
    }

    function CalculateAmount(rowId) {
        try {

            var varRate = '';
            var varUsageHrs = '';
            var varUsageMin = '';
            var varUsageHrsRounded = '';
            var varMinBilling = '';
            var varAmount = '';


            $(rowId).find("[id='txtRate']").each(function () {
                varRate = $(this).text().trim();
            });
            $(rowId).find("input[type='text'][id='txtUsageHrs']").each(function () {
                varUsageHrs = $(this).val().trim();
            });
            $(rowId).find("input[type='text'][id='txtUsageMin']").each(function () {
                varUsageMin = $(this).val().trim();
            });
            $(rowId).find("[id='txtBillHrs']").each(function () {
                varMinBilling = $(this).text().trim();
            });

            if (varUsageHrs == undefined || varUsageHrs.trim()== "")
            {
                varUsageHrs = 0;
            }
            if (varUsageMin == undefined || varUsageMin.trim()== "")
            {
                varUsageMin = 0;
            }

            if (parseInt(varUsageMin) >= 30) {
                varUsageHrsRounded = parseInt(varUsageHrs) + 1;
            }
            else {
                varUsageHrsRounded = parseInt(varUsageHrs);
            }

            if (parseInt(varMinBilling) > parseInt(varUsageHrsRounded) && parseInt(varUsageHrsRounded)>0) {
                varAmount = parseInt(varMinBilling) * parseFloat(varRate)
            }
            else {
                varAmount = parseInt(varUsageHrsRounded) * parseFloat(varRate)
            }


            $(rowId).find("[id='txtRoundHrs']").each(function () {
                $(this).text(varUsageHrsRounded);
            });
            $(rowId).find("[id='txtAmount']").each(function () {
                $(this).text(parseFloat(varAmount).toFixed(2));
            });
        }
        catch (e) {

        }
    }

    function ChangeRowColour(RowId) {
        try {
            changeColorVehicle(RowId);
        }
        catch (e) {

        }
    }

    function BindTrackcategory(RowId,varVehicleId) {
        try {
            ColourRowId = RowId;
            if (parseInt(varVehicleId) != parseInt(VehicleId)) {
               // $("input[name='Category']:checked").prop('checked', false);
                $("#lstTrackTimeSlot").val(0);
                $("#tbodyTrack").html("");
            }
            VehicleId = varVehicleId;
            changeColorVehicle(RowId);
            BindServiceTimeDetails(VehicleId);
        }
        catch (e) {

        }
    }

    ///////////////////////////// Set Button Visibility  //////////////////////////////////////////////////////
    function SetButtonVisibility() {
        //try {
        //    if ($("#StatusPropId").val() != undefined && parseInt($("#StatusPropId").val()) == 40) {
        //        $("#btnAdd").attr('disabled', false);
        //    }
        //    else {
        //        $("#btnAdd").attr('disabled', true);
        //    }
        //}
        //catch (e) {

        //}
    }


    ///////////////////////////// Masking  //////////////////////////////////////////////////////
    function MaskControls() {
        try {
            (function ($) {
                $(function () {
                    //$("#AddMoreTR").find("input[type='text'][id='RegistrationNo']").each(function () {
                    //    $(this).mask('aa-##-$$-9999');
                    //});
                    //$("#AddMoreTR").find("input[type='text'][id='VehicleType']").each(function () {
                    //    $(this).attr('onkeypress', 'return CheckIsAlpha(event,this);');
                    //});
                    //$("#tbodyTrack").find("input[type='text'][id='txtUsageHrs']").each(function () {
                    //    $(this).attr('onkeypress', 'return CheckIsNumeric(event,this);');
                    //});
                    //$("#tbodyTrack").find("input[type='text'][id='txtUsageMin']").each(function () {
                    //    $(this).attr('onkeypress', 'return CheckIsNumeric(event,this);');
                    //});
                });
            })(jQuery);
        }
        catch (e) {

        }
    }

    $(document).ready(function () {
        MaskControls();
       // SetButtonVisibility();
        LoadTrackInfo();
    });

</script>