@model PGMSFront.Models.CommonModel
@{
    ViewBag.Title = "Lab Booking";
    Layout = "~/Views/Shared/_LayoutLab.cshtml";
}

<style>
    .table > tbody > tr > td {
        padding: 2px 8px !important;
        cursor: pointer !important;
    }

    .card {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }

    .bootstrap-select {
        margin-top: 16px !important;
    }

    .main-panel > .content {
        margin-top: 0 !important;
    }
</style>
<div class="content">
    @using (Html.BeginForm(new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            @Html.Partial("~/Views/Home/BookingHeader.cshtml")

            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            Lab Booking
                            @if (Model.StatusPropId == 40 && Model.RFQId == 0 && (Model.WorkFlowId == 6 || Model.WorkFlowId == 57 || Model.WorkFlowId == 29 || Model.WorkFlowId == 36 || Model.WorkFlowId == 38))
                            {
                                <button type="button" class="btn btn-fill btn-rose btn-sm pull-right" onclick="AddMore()" id="btnAdd">Add More</button>
                            }
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th width="15%">Lab</th>
                                        <th width="19%">Facility</th>
                                        <th width="10%">VEH/CMPT</th>
                                        @if (Model.BPId == 46 || Model.BPId == 91)
                                        {
                                            <th width="10%" style="text-align:center">Day</th>
                                        }
                                        else
                                        {
                                            <th width="10%" style="text-align:center">Date</th>
                                        }

                                        <th width="7%" style="text-align:center">Usage</th>
                                        <th width="7%" style="text-align:center">Unit</th>
                                        @if (Model.WorkFlowId == 57 || Model.WorkFlowId == 58 ||
                                            Model.WorkFlowId == 29 || Model.WorkFlowId == 51 ||
                                            Model.WorkFlowId == 38 || Model.WorkFlowId == 53)
                                        {
                                            <th width="7%" style="text-align:right;display:none">Rate</th>
                                            <th width="7%" style="text-align:right;display:none">Amount</th>
                                        }
                                        else
                                        {
                                            <th width="7%" style="text-align:right">Rate</th>
                                            if (Model.WorkFlowId == 59 || Model.WorkFlowId == 52 || Model.WorkFlowId == 54)
                                            {
                                                <th class="text-right" width="10%">Quot. Amount</th>
                                            }
                                            else
                                            {
                                                <th width="10%" style="text-align:right">Amount</th>
                                            }
                                        }
                                       
                                        <th width="10%">Remark</th>
                                        <th width="8%" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyWS">
                                    <tr id="AddMoreTR" style="display: none;">
                                        <td>
                                            <select class="form-control" id="LabType" onchange="SetFacility()">
                                                <option value="0">-Select-</option>
                                                @foreach (var itm in ViewBag.ServiveLookup)
                                                {
                                                    <option value='@itm.Value'>@itm.Text</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" id="ServiceType" onchange="SetVehicleComp()"></select>
                                        </td>
                                        <td>
                                            <select class="form-control" id="VehicleType"></select>
                                        </td>
                                        @if (Model.BPId == 46 || Model.BPId == 91)
                                        {
                                            <td><input id="Day" type="text" style="text-align: center" onkeypress='return CheckIsNumeric(event,this);' onchange="SetRateUnit()" class="form-control" value=""></td>
                                        }
                                        else
                                        {
                                            <td><input id="Date" type="text" style="text-align:center" onblur="SetRateUnit()" class="form-control datetimepicker"></td>
                                        }


                                        <td><input id="Usage" type="text" style="text-align:center" onchange="CalculateAmount()" onkeypress='return CheckIsNumeric(event,this);' class="form-control" value=""></td>
                                        <td><input id="Unit" disabled="disabled" style="text-align:center" type="text" class="form-control" value=""></td>
                                        @if (Model.WorkFlowId == 57 || Model.WorkFlowId == 58 ||
                                            Model.WorkFlowId == 29 || Model.WorkFlowId == 51 ||
                                            Model.WorkFlowId == 38 || Model.WorkFlowId == 53)
                                        {
                                            <td style="text-align:right;display:none"><input id="Rate" disabled="disabled" style="text-align:right;display:none" type="text" class="form-control" value=""></td>
                                            <td style="text-align:right;display:none"><input id="Amount" disabled="disabled" type="text" style="text-align:right;display:none" class="form-control" value=""></td>
                                        }
                                        else
                                        {
                                            <td><input id="Rate" disabled="disabled" style="text-align:right" type="text" class="form-control" value=""></td>
                                            <td><input id="Amount" disabled="disabled" type="text" style="text-align:right" class="form-control" value=""></td>
                                        }

                                        <td><textarea id="Remark" class="form-control"></textarea></td>
                                        <td class='td-actions text-center'>
                                            <button type='button' rel='tooltip' id="btnSave" onclick="return LabServicesSave()" class='btn btn-info' data-original-title='' title=''><i class='material-icons'>save</i></button>
                                            <button type='button' rel='tooltip' class='btn btn-danger' data-original-title='' title='' onclick="AddMoreCancel()"><i class='material-icons'>close</i></button>
                                        </td>
                                        <td style='display:none'><input type='hidden' id='hdnUOMPropId' /> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <table Style="width:100%">
                        <tr>
                            <td Style="width:50%;text-align:left">
                                <input type="submit" id="btnPrev" name="btnPrevNext" value="Prev" class="btn btn-fill btn-rose btn-sm " />
                            </td>
                            <td Style="width:50%;text-align:right">
                                <input type="submit" id="btnNext" name="btnPrevNext" value="Next" style="display:none" class="btn btn-fill btn-rose btn-sm " />
                            </td>
                        </tr>
                    </table>
                </div>
                @Html.HiddenFor(m => m.UserId, new { id = "UserId", style = "width:0px;" })
                @Html.HiddenFor(m => m.UserTypePropId, new { id = "UserTypePropId", style = "width:0px;" })
                @Html.HiddenFor(m => m.ZZCompanyId, new { id = "ZZCompanyId", style = "width:0px;" })
                @Html.HiddenFor(m => m.WorkFlowId, new { id = "WorkFlowId", style = "width:0px;" })
                @Html.HiddenFor(m => m.StatusPropId, new { id = "StatusPropId", style = "width:0px;" })
                @Html.HiddenFor(m => m.StateId, new { id = "StateId", style = "width:0px;" })
                @Html.HiddenFor(m => m.BPId, new { id = "BPId", style = "width:0px;" })
                @Html.HiddenFor(m => m.DocId, new { id = "DocId", style = "width:0px;" })
                @Html.HiddenFor(m => m.ReportURL, new { id = "ReportURL", style = "width:0px;" })
                @Html.HiddenFor(m => m.POURL, new { id = "POURL", style = "width:0px;" })
                @Html.HiddenFor(m => m.RFQId, new { id = "RFQId", style = "width:0px;" })
            </div>
        </div>
    }
</div>

<script>
    var LabBookingDetailId = 0;
    var LabServicesList = '';
    var ServiceList = '';
    var LablinkVorCList = '';
    var VehicleCompList = '';

    function AddMore() {
        LabBookingDetailId = 0;
        $("#AddMoreTR").find("button[id='btnSave']").each(function () {
            $(this).show();
        });
        $("#AddMoreTR").find("select[id='LabType']").each(function () {
            $(this).val(0);
        });
        $("#AddMoreTR").find("select[id='ServiceType']").each(function () {
            $(this).html("");
        });
        $("#AddMoreTR").find("select[id='VehicleType']").each(function () {
            $(this).html("");
        });
        $("#AddMoreTR").find("input[type='text'][id='Date']").each(function () {
            $(this).val("");
            $('.datetimepicker').datetimepicker({ theme: 'light', timepicker: false, format: 'd-m-Y', scrollMonth: false, scrollInput: false });
        });
        $("#AddMoreTR").find("input[type='text'][id='Day']").each(function () {
            $(this).val("");
        });
        $("#AddMoreTR").find("input[type='text'][id='Usage']").each(function () {
            $(this).val("");
        });
        $("#AddMoreTR").find("input[type='text'][id='Unit']").each(function () {
            $(this).val("");
        });
        $("#AddMoreTR").find("input[type='text'][id='Rate']").each(function () {
            $(this).val("");
        });
        $("#AddMoreTR").find("input[type='text'][id='Amount']").each(function () {
            $(this).val("");
        });
        $("#AddMoreTR").find("textarea[id='Remark']").each(function () {
            $(this).val("");
        });
        $("#AddMoreTR").find("input[type='hidden'][id='hdnUOMPropId']").each(function () {
            $(this).val("");
        });

        $("#AddMoreTR").show();
        MaskControls();
        $("#LabType").focus();

    }
    function AddMoreCancel() {
        $("#AddMoreTR").hide();
    }

    ///////////////////////////// Load Vehicle Info  //////////////////////////////////////////////////////
    function LoadLabServicesInfo() {
        try {
            LoaderShow();
            var data = {};
            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
            $.ajax({
                url: '@Url.Action("LoadLabServicesInfo", "Home")',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: dataWithAntiforgeryToken,
                success: function (data) {

                    LoaderHide();
                    if (data.StatusId != "99" && data.StatusId != "-99") {
                        LabServicesList = data.LabServicesList;
                        ServiceList = data.ServiceList;
                        LablinkVorCList = data.LablinkVorCList;
                        VehicleCompList = data.VehicleCompList;
                        BindWSData(data.LabServicesList);
                        if (LabServicesList.length > 0) {
                            $("#btnNext").show();
                        }
                    }
                    else {
                       // alert(data.Status);
                    }
                },
                error: function (xhr) {

                    LoaderHide();
                    alert(xhr.responseText);
                }
            });
        }
        catch (e) {

            LoaderHide();
            alert(e.message);
            //  return false;
        }
    }

    //////////////////////// Vehicle Edit ////////////////////////////////////////////////////////////
    function LabServicesEdit(varLabBookingDetailId) {
        try {
            LabBookingDetailId = 0;
            if (LabServicesList.length > 0) {
                var varWS = jQuery.grep(LabServicesList, function (obj) {
                    return obj.LabBookingDetailId == varLabBookingDetailId;
                });

                LabBookingDetailId = NullHandle(varWS[0].LabBookingDetailId);

                $("#AddMoreTR").find("button[id='btnSave']").each(function () {
                    $(this).show();
                });
                $("#AddMoreTR").find("select[id='LabType']").each(function () {
                    var varServiceList = jQuery.grep(ServiceList, function (obj) {
                        return obj.ServiceId == varWS[0].ServiceId;
                    });

                    if (varServiceList != undefined && varServiceList.length > 0) {
                        $(this).val(varServiceList[0].ServiceName);
                    } 
                    SetFacility();
                });
                $("#AddMoreTR").find("select[id='ServiceType']").each(function () {
                    $(this).val(NullHandle(varWS[0].ServiceId));
                    SetVehicleComp()
                });
                $("#AddMoreTR").find("select[id='VehicleType']").each(function () {
                    $(this).val(NullHandle(varWS[0].VehCompId));
                });
                $("#AddMoreTR").find("input[type='text'][id='Date']").each(function () {
                    $(this).val(NullHandle(varWS[0].ZZUsageDate));
                    $('.datetimepicker').datetimepicker({ theme: 'light', timepicker: false, format: 'd-m-Y', scrollMonth: false, scrollInput: false });
                });
                $("#AddMoreTR").find("input[type='text'][id='Day']").each(function () {
                    $(this).val(NullHandle(varWS[0].BookingDay));
                });
                $("#AddMoreTR").find("input[type='text'][id='Usage']").each(function () {
                    $(this).val(NullHandle(varWS[0].UsageHours));
                });
                $("#AddMoreTR").find("input[type='text'][id='Unit']").each(function () {
                    $(this).val(NullHandle(varWS[0].ZZUOM));
                });
                $("#AddMoreTR").find("input[type='text'][id='Rate']").each(function () {
                    $(this).val(NullHandle(varWS[0].Rate));
                });
                $("#AddMoreTR").find("input[type='text'][id='Amount']").each(function () {
                    $(this).val(NullHandle(varWS[0].Amount));
                });
                $("#AddMoreTR").find("textarea[id='Remark']").each(function () {
                    $(this).val(NullHandle(varWS[0].Remark));
                });
                $("#AddMoreTR").find("input[type='hidden'][id='hdnUOMPropId']").each(function () {
                    $(this).val(NullHandle(varWS[0].UOMPropId));
                });

                $("#AddMoreTR").show();
                MaskControls();
                $("#LabType").focus();
            }
        }
        catch (e) {

        }
    }

    ///////////////////////////// Vehicle Save  //////////////////////////////////////////////////////
    function LabServicesSave() {
        try {
            var model = {};
            var strMSG = '';
            var varWS = jQuery.grep(LabServicesList, function (obj) {
                return obj.LabBookingDetailId == LabBookingDetailId;
            });
            var btnSave = "";

            if (parseInt(LabBookingDetailId) > 0 && varWS != undefined && varWS.length > 0) {
                model = varWS[0];
            }
            else {
                model.LabBookingDetailId = -1;
            }

            $("#AddMoreTR").find("button[id='btnSave']").each(function () {
                btnSave = $(this);
            });
            $("#AddMoreTR").find("select[id='ServiceType']").each(function () {
                model.ServiceId = $(this).val();
                if ($(this).val() == "") {
                    strMSG = strMSG + 'Select Facility \n</br>'
                }
            });
            $("#AddMoreTR").find("select[id='VehicleType']").each(function () {
                model.VehCompId = $(this).val();
                if (parseInt($(this).val()) == 0) {
                    strMSG = strMSG + 'VEH/CMPT \n</br>'
                }
            });

            if (parseInt($("#BPId").val()) == 46 || parseInt($("#BPId").val()) == 91) {
                $("#AddMoreTR").find("input[type='text'][id='Day']").each(function () {
                    model.BookingDay = $(this).val().trim();
                    if ($(this).val().trim() == "" || parseInt($(this).val().trim())<=0) {
                        strMSG = strMSG + 'Day \n</br>'
                    }
                });
            }
            else {
                $("#AddMoreTR").find("input[type='text'][id='Date']").each(function () {
                    model.ZZUsageDate = $(this).val().trim();
                    if ($(this).val().trim() == "") {
                        strMSG = strMSG + 'Select Date \n</br>'
                    }
                });
            }           

            $("#AddMoreTR").find("input[type='text'][id='Usage']").each(function () {
                model.UsageHours = $(this).val().trim();
                if ($(this).val().trim() == "" || parseInt($(this).val().trim()) <= 0) {
                    strMSG = strMSG + 'Usage \n</br>'
                }
            });
            $("#AddMoreTR").find("input[type='hidden'][id='hdnUOMPropId']").each(function () {
                model.UOMPropId = $(this).val();
            });
            $("#AddMoreTR").find("input[type='text'][id='Rate']").each(function () {
                model.Rate = $(this).val().trim();
            });
            $("#AddMoreTR").find("input[type='text'][id='Amount']").each(function () {
                model.Amount = $(this).val().trim();
            });
            $("#AddMoreTR").find("textarea[id='Remark']").each(function () {
                model.Remark = $(this).val().trim();
                //if ($(this).val().trim() == "") {
                //    strMSG = strMSG + 'Remark  \n</br>'
                //}
            });

            if (strMSG != '') {
                alert("Please enter data for Mandatory fields  \n</br>" + strMSG);
                return false;
            }
            else {
                if (parseInt(model.UOMPropId) == 14) {
                    if (parseInt(model.UsageHours) != 1) {
                        alert('Services having unit "DAY" Usage should be 1');
                        return;
                    }
                    if (LabServicesList != null && LabServicesList.length > 0) {
                        var varWSTmp = "";
                        if (parseInt($("#BPId").val()) == 46 || parseInt($("#BPId").val()) == 91) {
                            varWSTmp = jQuery.grep(LabServicesList, function (obj) {
                                return obj.ServiceId == model.ServiceId && obj.BookingDay == model.BookingDay;
                            });
                        }
                        else {
                            varWSTmp = jQuery.grep(LabServicesList, function (obj) {
                                return obj.ServiceId == model.ServiceId && ToDate(obj.ZZUsageDate).getTime() == ToDate(model.ZZUsageDate).getTime();
                            });
                        }
                        if (varWSTmp != undefined && varWSTmp != null && ((parseInt(model.LabBookingDetailId) == -1 && varWSTmp.length > 0) || (parseInt(model.LabBookingDetailId) > 0 && varWSTmp.length > 1))) {
                            alert('Services having unit "DAY" not allowed multiple for the same day/date');
                            return;
                        }
                    }
                }

                btnSave.hide();
                LoaderShow();
                var data = {'model': model};
                var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                $.ajax({
                    url: '@Url.Action("LabServicesSave", "Home")',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: dataWithAntiforgeryToken,
                    //contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        LoaderHide();
                        if (data.StatusId != "99" && data.StatusId != "-99") {
                            LabServicesList = data.LabServicesList;
                            BindWSData(data.LabServicesList);

                            if (LabServicesList.length > 0) {
                                $("#btnNext").show();
                            }
                        }
                        btnSave.show();
                        alert(data.Status);
                    },
                    error: function (xhr) {

                        btnSave.show();
                        LoaderHide();
                        alert(xhr.responseText);
                    }
                });
            }
        }
        catch (e) {
            LoaderHide();
            btnSave.show();
            alert(e.message);
            return false;
        }
    }

    ///////////////////////////// Delete Info  //////////////////////////////////////////////////////
    function LabServicesDelete(varLabBookingDetailId) {

        try {
            $.confirm({
                title: 'Confirm Alert!',
                content: "Are you sure want to delete?",
                icon: 'fa fa-question',
                closeIcon: true,
                animation: 'scale',
                type: 'orange',
                escapeKey: 'cancel',
                buttons: {
                    MyFunction: {
                        text: 'OK',
                        action: function () {
                            LoaderShow();
                            var data = { 'intLabBookingDetailId': varLabBookingDetailId };
                            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                            $.ajax({
                                url: '@Url.Action("LabServicesDelete", "Home")',
                                type: 'POST',
                                dataType: 'json',
                                async: true,
                                data: dataWithAntiforgeryToken,
                                success: function (data) {

                                    LoaderHide();
                                    if (data.StatusId != "99" && data.StatusId != "-99") {
                                        LabServicesList = data.LabServicesList;
                                        BindWSData(data.LabServicesList);

                                        if (LabServicesList.length > 0) {
                                            $("#btnNext").show();
                                        }
                                        else {
                                            $("#btnNext").hide();
                                        }
                                    }
                                    alert(data.Status);
                                },
                                error: function (xhr) {

                                    LoaderHide();
                                    alert(xhr.responseText);
                                }
                            });

                        }
                    },
                    cancel: function () {
                    }
                }
            });

        }
        catch (e) {

            LoaderHide();
            alert(e.message);
            //  return false;
        }
    }

    ///////////////////////////// Bind Info  //////////////////////////////////////////////////////
    function BindWSData(data) {
        try {
            var gridData = "";
            var StatusPropId = $("#StatusPropId").val();
            var WorkFlowId = $("#WorkFlowId").val();
            //var row = $('#tbodyVehicle').find('tr:eq(0)');

            gridData = '<tr id="AddMoreTR" style="display: none;">' + $("#AddMoreTR").html() + '</tr>';
           
            $("#lblWSCount").text(NullHandle(data.length));

            $("#tbodyWS").html("");

            for (var i = 0; i < data.length; i++) {
                gridData = gridData + "<tr>";                
                gridData = gridData + "<td>" + NullHandle(data[i].ZZService) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].ZZServiceName) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].ZZVehComp) + "</td>";
                if (parseInt($("#BPId").val()) == 46 || parseInt($("#BPId").val()) == 91) {
                    gridData = gridData + "<td style='text-align:center'>" + NullHandle(data[i].BookingDay) + "</td>";
                }
                else {
                    gridData = gridData + "<td style='text-align:center'>" + NullHandle(data[i].ZZUsageDate) + "</td>";
                }               

                gridData = gridData + "<td style='text-align:center'>" + NullHandle(data[i].UsageHours) + "</td>";
                gridData = gridData + "<td style='text-align:center'>" + NullHandle(data[i].ZZUOM) + "</td>";

                if (parseInt($("#WorkFlowId").val()) == 57 || parseInt($("#WorkFlowId").val()) == 58 ||
                    parseInt($("#WorkFlowId").val()) == 29 || parseInt($("#WorkFlowId").val()) == 51 ||
                    parseInt($("#WorkFlowId").val()) == 38 || parseInt($("#WorkFlowId").val()) == 53) {
                    gridData = gridData + "<td style='text-align:right;display:none'>" + NullHandle(data[i].Rate) + "</td>";
                    gridData = gridData + "<td style='text-align:right;display:none'>" + NullHandle(data[i].Amount) + "</td>";
                }
                else {                    
                    if (parseInt($("#WorkFlowId").val()) == 59 || parseInt($("#WorkFlowId").val()) == 52 || parseInt($("#WorkFlowId").val()) == 54) {
                        gridData = gridData + "<td style='text-align:right'>" + NullHandleFloat(parseFloat(data[i].QuotAmount) / parseFloat(data[i].UsageHours)) + "</td>";
                        gridData = gridData + "<td class='text-right'>" + NullHandle(data[i].QuotAmount) + "</td>";
                    }
                    else {
                        gridData = gridData + "<td style='text-align:right'>" + NullHandle(data[i].Rate) + "</td>";
                        gridData = gridData + "<td style='text-align:right'>" + NullHandle(data[i].Amount) + "</td>";
                    }
                }               
                
                gridData = gridData + "<td>" + NullHandle(data[i].Remark) + "</td>";

                if (parseInt($("#StatusPropId").val()) == 40 && parseInt($("#RFQId").val()) == 0 && (parseInt($("#WorkFlowId").val()) == 6 || parseInt($("#WorkFlowId").val()) == 57 || parseInt($("#WorkFlowId").val()) == 29 || parseInt($("#WorkFlowId").val()) == 36 || parseInt($("#WorkFlowId").val()) == 38)) {
                    gridData = gridData + "<td class='td-actions text-center'>";
                    gridData = gridData + "<button type='button' rel='tooltip' class='btn btn-info' title='Edit Lab Service : " + NullHandle(data[i].ZZServiceName) + "' onclick='return LabServicesEdit(" + NullHandle(data[i].LabBookingDetailId) + ")' > <i class='material-icons'>edit</i></button>&nbsp;";
                    gridData = gridData + "<button type='button' rel='tooltip' class='btn btn-danger' title='Delete Lab Service : " + NullHandle(data[i].ZZServiceName) + "' onclick='return LabServicesDelete(" + NullHandle(data[i].LabBookingDetailId) +")'><i class='material-icons'>close</i></button>";
                    gridData = gridData +"</td>";
                }
                else {
                    gridData = gridData + "<td class='text - center'></td>";
                }
                //gridData = gridData + "<td style='display:none'><input type='hidden' id='hdnUOMPropId' value=" + NullHandle(data[i].UOMPropId) + " /> </td>";
                gridData = gridData + "</tr>";
            }

            $("#tbodyWS").html(gridData);


        }
        catch (e) {

        }
    }

    //////////////////////// Set Rate Unit ////////////////////////////////////////////////////////
    function SetRateUnit() {
        try {
            
            var varDate = "";
            if (parseInt($("#BPId").val()) == 46 || parseInt($("#BPId").val()) == 91) {
                varDate = $("#Day").val().trim();
            }
            else {
                varDate = $("#Date").val().trim();
            }
            var varServiceId = $("#ServiceType").val();
            var varTimeSlotId = 0;

            var strMSG = "";
            if (parseInt(varServiceId) == 0) {
                alert("Select Facility");
                return false;
            }

            if (varDate=="") {
                return false;
            }

            if (strMSG != '') {
                alert("Please enter data for Mandatory fields  \n</br>" + strMSG);
                return false;
            }
            else {

                var data = '';
                var varServiceList = [];

                varServiceList[0] = NullHandle(varServiceId);

                var data = { 'intlstServiceId': varServiceList, 'intTimeSlotId': parseInt(varTimeSlotId), 'strWED': varDate };
                var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
            LoaderShow();
            $.ajax({
                url: '@Url.Action("BookingStatusGetByServiceIdTimeSlotPropIdWEFDate", "Home")',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: dataWithAntiforgeryToken,
               // contentType: "application/json; charset=utf-8",
                success: function (dataBokkingStatus) {

                    LoaderHide();

                    if (dataBokkingStatus.StatusId != "99" && dataBokkingStatus.StatusId != "-99") {
                        var varBookingStatusList = dataBokkingStatus.BookingStatusList;
                        var varUsage = 0;
                        if (varBookingStatusList.length > 0) {
                            $("#AddMoreTR").find("input[type='text'][id='Usage']").each(function () {
                                varUsage = $(this).val().trim();
                                if (varUsage == undefined || varUsage == "") {
                                    varUsage=0
                                }
                            });

                            $("#AddMoreTR").find("input[type='text'][id='Unit']").each(function () {
                                $(this).val(NullHandle(varBookingStatusList[0].UOM));
                            });
                            $("#AddMoreTR").find("input[type='text'][id='Rate']").each(function () {
                                $(this).val(NullHandle(varBookingStatusList[0].Rate));
                            });
                            $("#AddMoreTR").find("input[type='text'][id='Amount']").each(function () {
                                $(this).val(parseFloat(varBookingStatusList[0].Rate) * parseFloat(varUsage));
                            });
                            $("#AddMoreTR").find("input[type='hidden'][id='hdnUOMPropId']").each(function () {
                                $(this).val(NullHandle(varBookingStatusList[0].UOMPropId));
                            });
                        }
                    }
                    else {
                        alert(data.Status);
                    }
                },
                error: function (xhr) {

                    LoaderHide();
                    alert(xhr.responseText);
                }
            });
            }
        }
        catch (e) {
            LoaderHide();
            alert(xhr.responseText);
        }

    }

    ///////////////////////////// Lab Change Event //////////////////////////////////////////////////////
    function SetFacility() {
        try {
            var varLabType = 0;           
          
            $("#AddMoreTR").find("select[id='LabType']").each(function () {
                varLabType=$(this).val();
            });           
            $("#AddMoreTR").find("select[id='ServiceType']").each(function () {
                $(this).html("");
            });
            $("#AddMoreTR").find("select[id='VehicleType']").each(function () {
                $(this).html("");
            });
            //$("#AddMoreTR").find("input[type='text'][id='Usage']").each(function () {
            //    $(this).val("");
            //});

            if (varLabType.toString() == '0') {
                alert("Select Lab");               
            }
            else {
                var varServiceList = jQuery.grep(ServiceList, function (obj) {
                    return obj.ServiceName == varLabType;
                });

                if (varServiceList != undefined && varServiceList.length > 0) {                                                    
                    var gridData = gridData + "<option value='0'>- Select -</option>";
                    for (var i = 0; i < varServiceList.length; i++) {
                        gridData = gridData + "<option value='" + NullHandle(varServiceList[i].ServiceId) + "'>" + NullHandle(varServiceList[i].ServiceSpecification) + "</option>";
                    }
                    gridData = gridData + "</select>";

                    $("#AddMoreTR").find("select[id='ServiceType']").each(function () {
                        $(this).html(gridData);
                    });                    
                }
            }
        }
        catch (e) {

        }
    }

    ///////////////////////////// Facility  Change Event //////////////////////////////////////////////////////
    function SetVehicleComp() {
        try {            
            var varServiceType = 0;           
            $("#AddMoreTR").find("select[id='ServiceType']").each(function () {
                varServiceType = $(this).val();
            });           
            $("#AddMoreTR").find("select[id='VehicleType']").each(function () {
                $(this).html("");
            });
            //$("#AddMoreTR").find("input[type='text'][id='Usage']").each(function () {
            //    $(this).val("");
            //});

            if (varServiceType.toString() == '0') {
                alert("Select Facility");
            }
            else {                             

                var varLablinkVorCList = jQuery.grep(LablinkVorCList, function (obj) {
                    return obj.ServiceId == varServiceType;
                });
                                
                if (varLablinkVorCList != undefined && varLablinkVorCList.length > 0) {
                    var varVehicleCompList = jQuery.grep(VehicleCompList, function (obj) {
                        return obj.GroupId == varLablinkVorCList[0].GroupPropId;
                    });

                    if (varVehicleCompList != undefined && varVehicleCompList.length > 0) {
                        var gridData = "";//gridData + "<option value='0'>- Select -</option>";
                        for (var i = 0; i < varVehicleCompList.length; i++) {
                            gridData = gridData + "<option value='" + NullHandle(varVehicleCompList[i].VehCompId) + "'>" + NullHandle(varVehicleCompList[i].VorC) + "</option>";
                        }
                        gridData = gridData + "</select>";

                        $("#AddMoreTR").find("select[id='VehicleType']").each(function () {
                            $(this).html(gridData);
                        });
                    }
                }

                SetRateUnit();
            }
        }
        catch (e) {

        }
    }


    ///////////////////////////// Calculate Amount  //////////////////////////////////////////////////////
    function CalculateAmount() {
        try {
            var varUsage = 0;
            var varRate = 0;

            $("#AddMoreTR").find("input[type='text'][id='Usage']").each(function () {
                varUsage = $(this).val().trim();
                if (varUsage == undefined || varUsage == "") {
                    varUsage = 0
                }
            });

            $("#AddMoreTR").find("input[type='text'][id='Rate']").each(function () {
                varRate = $(this).val().trim();
                if (varRate == undefined || varRate == "") {
                    varRate = 0
                }
            });

            $("#AddMoreTR").find("input[type='text'][id='Amount']").each(function () {
                $(this).val(parseFloat(varRate) * parseFloat(varUsage));
            });


        }
        catch (e) {

        }
    }

    ///////////////////////////// Set Button Visibility  //////////////////////////////////////////////////////
    function SetButtonVisibility() {
        try {
            if (parseInt($("#StatusPropId").val()) == 40 && parseInt($("#RFQId").val()) == 0 && (parseInt($("#WorkFlowId").val()) == 6 || parseInt($("#WorkFlowId").val()) == 57 || parseInt($("#WorkFlowId").val()) == 29 || parseInt($("#WorkFlowId").val()) == 36 || parseInt($("#WorkFlowId").val()) == 38)) {
                $("#btnAdd").attr('disabled', false);
            }
            else {
                $("#btnAdd").attr('disabled', true);
            }
        }
        catch (e) {

        }
    }


    ///////////////////////////// Masking  //////////////////////////////////////////////////////
    function MaskControls() {
        try {
            (function ($) {
                $(function () {

                    $("#AddMoreTR").find("input[type='text'][id='Usage']").each(function () {
                        $(this).attr('onkeypress', 'return CheckIsNumeric(event,this);');
                    });

                });
            })(jQuery);
        }
        catch (e) {

        }
    }

    function ToDate(strdate) {
        var parts = strdate.split("-");
        if (parts.length < 3) {
            parts = strdate.split("/");
        }
        return new Date(parts[2], parts[1] - 1, parts[0])
    }

    $(document).ready(function () {
        MaskControls();
        SetButtonVisibility();
        LoadLabServicesInfo();
    });

</script>