@model PGMSFront.Models.CommonModel
@{
    ViewBag.Title = "Create Password";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Templates/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/Templates/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        @ViewBag.Title
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="canonical" href="https://www.creative-tim.com/product/material-dashboard-pro" />
    <meta name="keywords" content="PGMS">
    <meta name="description" content="PGMS">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="~/Templates/assets/demo/demo.css" rel="stylesheet" />
    <link href="~/Templates/Alert/jquery-confirm.min.css" rel="stylesheet" />
    <link href="~/Templates/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Templates/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
    <style>
        .register-page .card-signup {
            margin-top: 0;
            margin-bottom: 50px;
            padding: 10px 0px;
        }

        .form-control {
            height: 30px !important;
        }

        .off-canvas-sidebar .wrapper-full-page .page-header {
            padding: 5vh 0 !important;
        }

        .register-page .card-signup .form-check {
            margin-top: 20px;
            margin-bottom: 0;
        }

        .card-signup .form-check {
            padding-top: 10px;
        }

        .form-check-label {
            padding-top: 2px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #fff;
            border: none;
            border-bottom: 1px solid #aaa;
            border-radius: 0px;
        }
    </style>
</head>

<body class="off-canvas-sidebar">
    <div class="Loader" id="divLoading" style="        display: none;">
        <div id="preloading" class="preloading">
            <img src="@Url.Content("~/Templates/assets/img/load.gif")" style="        width: 100px;">
        </div>
        <div id="overlay"></div>
    </div>
    <div class="wrapper wrapper-full-page">
        <div class="page-header register-page header-filter" filter-color="black" style="        background-image: url('../Templates/Tracks/Natrax Overall Track Pics.jpg')">
            <div class="container">
                @using (Html.BeginForm(new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-7 ml-auto mr-auto">
                            <div class="card card-signup" style="padding: 0px 0px;">
                                <div class="col-md-6 ml-auto mr-auto" style="text-align: center;max-width: 56%;">
                                    <img src="~/Templates/img/logo.png" alt="">
                                </div>
                                @if (Model.StatusPropId == 1)
                                {
                                    <h2 class="card-title text-center" style="font-size: 20px; margin-bottom: 0px;">
                                        Create Password
                                    </h2>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="card-body">
                                                <div class="col-md-12 ml-auto">
                                                    <form>

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group bmd-form-group">
                                                                    <label for="exampleEmail" class="bmd-label-floating">Company</label>
                                                                    <input type="text" style="color:black" disabled="disabled" value="@Model.UserName" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group bmd-form-group">
                                                                    <label for="exampleEmail" class="bmd-label-floating">Login Id</label>
                                                                    <input type="text" style="color:black" disabled="disabled" value="@Model.LoginId" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group bmd-form-group">
                                                                    <label for="exampleEmail" class="bmd-label-floating">New Password *</label>
                                                                    <input type="password" class="form-control" id="txtPSW">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group bmd-form-group">
                                                                    <label for="examplePass" class="bmd-label-floating">Confirm Password *</label>
                                                                    <input type="password" class="form-control" id="txtConfirmPSW">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group bmd-form-group">
                                                                    <label for="examplePass" class="bmd-label-floating"></label>
                                                                    <a typr="button" style="color: #FFF;text-align:center" id="btnPSW" onclick="CreatePassword()" class="btn btn-primary btn-round mt-4" >Submit</a>
                                                                    @*<a href="#" class="btn btn-primary btn-round mt-4 pull-right">Cancel</a>*@
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row" style="color:black;text-align:center">
                                        <div class="col-md-12" style="color:black;text-align:center">
                                            <div class="form-group bmd-form-group" style="color:black;text-align:center">
                                                <label style="color:black;text-align:center">@Model.Message</label>
                                                <br />
                                                @if (Model.StatusPropId == -2)
                                                {
                                                    <a style="text-align:center" href="@Url.Action("Index", "Home")" class="btn btn-primary btn-round mt-4">Go to Login Page</a>
                                                }
                                                <br />
                                                <br />
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/Templates/assets/js/core/jquery.min.js"></script>
    <script src="~/Templates/assets/js/core/popper.min.js"></script>
    <script src="~/Templates/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/Templates/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Chartist JS -->
    <script src="~/Templates/assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Templates/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Templates/assets/js/material-dashboard.min.js?v=2.1.2" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/Templates/assets/demo/demo.js"></script>
    <script src="~/Templates/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!-- Sharrre libray -->
    <script src="~/Templates/assets/demo/jquery.sharrre.js"></script>
    <script src="~/Templates/Alert/jquery-confirm.min.js"></script>
    <script src="~/Templates/select2/js/select2.min.js"></script>
    @Scripts.Render("~/bundles/MyScripts")
    <script type="text/javascript" src="~/MyScripts/Browser.min.js"></script>
    <script>
        function LoaderShow() {
            //waitingDialog.show('', {
            //    dialogSize: 'sm', progressType: 'warning'
            //});
            $(".Loader").show();
        }

        function LoaderHide() {
            //waitingDialog.hide();
            $(".Loader").hide();
        }


        //document.onreadystatechange = function () {
        //    if (document.readyState !== "complete") {
        //        $(".ntx-loader").show();
        //    } else {
        //        $(".ntx-loader").hide();
        //    }
        //};

        $(document).ready(function () {
            $(".select2").select2();
            $().ready(function () {
                //$('.datetimepicker').datetimepicker({ theme: 'light', timepicker: false, format: 'd-m-Y', scrollMonth: false, scrollInput: false });
                ////$('.timepicker').datetimepicker({ theme: 'dark', datepicker: false, format: 'H:i', scrollMonth: false, scrollInput: false, maxDate: new Date() });
                //$(".datetimepicker").attr("placeholder", "DD-MM-YYYY");
                //$(".datetimepicker").mask("99-99-9999");
                //$(".timepicker").mask("99:99");
                //$(".timepicker").attr("placeholder", "HH:MM");
                $sidebar = $('.sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }

                }

                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .side bar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });
        });
        $('#nav-item').removeAttr('data-toggle');
    </script>
</body>
</html>
<script>


    ///////////////////////////// Registration Save  //////////////////////////////////////////////////////
    function CreatePassword() {
        try {

            var strMSG = '';

            if ($("#txtPSW").val().trim() == "") {
                strMSG = strMSG + 'New Password \n</br>'
            }
            if ($("#txtConfirmPSW").val().trim() == "") {
                strMSG = strMSG + 'Confirm Password \n</br>'
            }

            if ($("#txtPSW").val().trim() != "" && $("#txtConfirmPSW").val().trim() != "" && $("#txtPSW").val().trim() != $("#txtConfirmPSW").val().trim()) {
                strMSG = strMSG + 'Passwords are not matched \n</br>'
            }

            if (strMSG != '') {
                alert("Please enter data for Mandatory fields  \n</br>" + strMSG);
                return false;
            }
            else {               
                var key = CryptoJS.enc.Utf8.parse('A51f7e2h2j58r2d5');
                var iv = CryptoJS.enc.Utf8.parse('A51f7e2h2j58r2d5');

                var encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse($('#txtPSW').val().trim()), key,
                    { keySize: 128 / 8, iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.Pkcs7 });

                $('#txtPSW').val(encryptedpassword);
                $('#txtConfirmPSW').val(encryptedpassword);
                var model = {};               
                model.PassWord = $('#txtPSW').val();                
               
                $("#btnPSW").hide();
                LoaderShow();              
                var data = { 'model': model };
                var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                $.ajax({
                    url: '@Url.Action("CreatePassword", "Home")',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: dataWithAntiforgeryToken,
                    //contentType: "application/json; charset=utf-8",
                    success: function (data) {
                       LoaderHide();
                        if (data.StatusId != "99" && data.StatusId != "-99") {
                            alert(data.Status);                            
                            $("#btnPSW").hide();
                        }
                        else {
                            $('#txtPSW').val('');
                            $('#txtConfirmPSW').val('');
                            $("#btnPSW").show();
                            alert(data.Status);
                        }
                       // $("#btnReg").show();

                    },
                    error: function (xhr) {
                        $('#txtPSW').val('');
                        $('#txtConfirmPSW').val('');
                        $("#btnPSW").show();
                        LoaderHide();
                        alert(xhr.responseText);
                    }
                });

            }
        }
        catch (e) {

            LoaderHide();
            $('#txtPSW').val('');
            $('#txtConfirmPSW').val('');
            $("#btnPSW").show();
            alert(e.message);
            return false;
        }
    }



    ///////////////////////////// Masking  //////////////////////////////////////////////////////
    function MaskControls() {
        try {
            (function ($) {
                $(function () {
                    $("#txtCompanyName").attr('onkeypress', 'return CheckIsAlphaNumeric(event,this);');
                    $("#txtGSTNo").attr('onkeypress', 'return CheckIsAlphaNumeric(event,this);');
                    $("#txtPANNo").attr('onkeypress', 'return CheckIsAlphaNumeric(event,this);');
                    $("#txtContactPerson").attr('onkeypress', 'return CheckIsAlphaNumeric(event,this);');
                    $("#txtEMailId").IsEmailOnly();
                    $("#txtPincode").attr('onkeypress', 'return CheckIsNumeric(event,this);');
                    $("#txtMobileNo").attr('onkeypress', 'return CheckIsNumeric(event,this);');


                });
            })(jQuery);
        }
        catch (e) {

        }
    }   

</script>
